[2015-07-13 07:47] torkelo commented on #266
maybe a table in the sql store for the scheduler to keep track of this?

[2015-07-13 07:49] torkelo commented on #83
maybe a table in the sql store for the scheduler to keep track of this?

[2015-07-13 10:17] woodsaj commented on #290
Given that the query that is generating the deadlock is a single update using the primary key, the deadlock must be getting generated due to Galera's optimistic locking.

This article explains the issue pretty well.
http://www.severalnines.com/blog/avoiding-deadlocks-galera-set-haproxy-single-node-writes-and-multi-node-reads

So this is not really a problem with the code, but rather just a drawbac

[2015-07-13 10:40] #290 closed

[2015-07-13 16:12] Dieterbe opened #323 "failure to update monitor state in database can lead to bogus notifications"
currently the alerting executor, if it can't update the monitor state, not much special happens
https://github.com/raintank/grafana/blob/master/pkg/alerting/executor.go#L113

the problem is that subsequent runs of the job send a notification when current state != state in db.
if we are having trouble updating the state in the db, it is likely that this inequality holds true a lot more often and we

[2015-07-13 17:00] bulletfactory opened #324 "Checkboxes on light theme"
Checkboxes on light theme aren't showing up - this is because the file name of the image is incorrect.
<img width="328" alt="screenshot 2015-07-13 12 56 55" src="https://cloud.githubusercontent.com/assets/1950595/8655431/0dc5d2fe-295f-11e5-91b6-019169931ceb.png">

file currently reads: /img/checkbox_white.png
should read /img/**rt-**checkbox_white.png

[2015-07-13 17:06] woodsaj commented on #323
perhaps we have return an error if no rows are updated.

https://github.com/raintank/grafana/blob/master/pkg/services/sqlstore/monitor.go#L862

[code]

[2015-07-13 17:10] Dieterbe commented on #323
the problem is *future* alerting runs behave errorously when the table hasn't been updated.
so we can either only allow a state change (and notification) if we can guarantee the last known state is accurate (which requires updating the timestamp at every run). also requires some more thinking around out-of-order finishing of jobs.

we can also leverage RAM and store the last known states in RAM (s

[2015-07-13 17:15] woodsaj commented on #323
would just adding a `AND state_change < ?` condition fix this.  So that we only update the row if our update timestamp is greater then the last update committed to the DB.

[2015-07-13 17:16] Dieterbe commented on #323
no. the problem is that the last known state can be out of date (e.g. it could be normal, because a previous job tried to update it to critical, but the update failed), and if our state is critical again, we send a notification twice.

[2015-07-13 17:32] woodsaj commented on #323
the updateMonitorStateCmd is how we persist the current state of a check.   If that fails then we should just consider the entire job as failed and not send any notifications.

The state change failing to commit is an exception, not an expected behavior.

so if we change the SQL statement to
[code]

and also have the UpdateMonitorState function return an error if no rows are updated.  Then we can

[2015-07-13 21:45] Dieterbe commented on #124
http://www.grpc.io/ this is getting buzz. a bunch of people were talking about it at gophercon

[2015-07-14 13:13] #264 closed

[2015-07-14 17:38] mattttt opened #327 "CSS - Make sure all raintank overrides are in /rt folder"
The only main difference between raintank and grafana (currently) is the font declaration and variable declarations on light/dark, but we should do a comparison on all Grafana CSS and make sure that the buck stops there.

I noticed a new DarkGrey that doesnt appear in Grafana master, so it's worth checking this.

[2015-07-14 18:35] Dieterbe commented on #248
then we should put a cap on the buffer where it drops new (or old) metrics instead of growing infinitely.
or persist a buffer to disk. (i know, easier said then done, but nsqd's diskqueue can make this a lot easier at least: https://github.com/bitly/nsq/blob/917a6c8c25e2f91ad8cd9696b89330b5bb799334/nsqd/diskqueue.go)

[2015-07-14 18:56] mattttt opened #328 "Collector Dropdown menu broken again"
Doh, this somehow broke again:

![screenshot 2015-07-14 14 53 48](https://cloud.githubusercontent.com/assets/2886187/8681900/337b8c76-2a38-11e5-9819-8d28ce65b8f0.png)

Also, variables need to be introduced to match the white theme:
![fullsizerender 3](https://cloud.githubusercontent.com/assets/2886187/8681937/6292c4a2-2a38-11e5-9a06-89b8af41991c.jpg)

[2015-07-14 19:22] Dieterbe commented on #323
ah yes, i see what you're saying now. that sounds good. i'll give this a shot.

[2015-07-14 19:41] Dieterbe commented on #248
so to summarize, I agree with @woodsaj that leaks are rare, and whatever issue we were seeing is now not really happening anymore.  but there's still two things we need to do:

1) an overly large heap is perhaps rare and uncommon, but it is likely that it will happen again at some point in the future.  so we should assure profile trigger is enabled in prod so we can investigate the cause ( @ctdk ?

[2015-07-14 19:58] Dieterbe opened #329 ""new endpoint" input should be more forgiving"
pasting in something like `http://stopabusingsiprefixes.org/` results in `Failed to discover endpoint.`
requiring me to take out the `http://` prefix and the `/` suffix.

we currently don't, but i think we should allow prefixes such as `http://` and `https://`, basically allow me to enter any web uri, ip, fqdn.

and perhaps use the specified scheme to explicitly enable http/https even if it's down

[2015-07-14 19:58] Dieterbe commented on #329
cc @nopzor1200

[2015-07-14 20:02] Dieterbe opened #330 "dns checks on an ip succeed?"
[code]
i can add `149.126.56.5` as an endpoint, and autodiscover enables the DNS check for it, against 8.8.8.8
so not sure if it does a regular, or reverse dns lookup, but if i manually run a nslookup i get this:
[code]

however, litmus claims everything is ok:
![dns-ip](https://cloud.githubusercontent.com/assets/20774/8683572/804edfae-2a28-11e5-9fe9-1fcee44e228b.png)

what's going on?

[2015-07-14 20:02] Dieterbe commented on #330
cc @nopzor1200

[2015-07-14 20:42] Dieterbe opened #331 "state should be unknown if we haven't updated state recently"
in addition to last state change in monitor table, we should track last alert run,
so that in endpoint health overview, we can show unknown state in cases where alerting has been disabled or for whatever reason we haven't been able to update the state.

so, never take state in table for granted, always look at last alert run, frequency and current time, to validate the state. also use a buffer of

[2015-07-14 20:43] Dieterbe commented on #238
so this is still an issue, but presumably this is due to alerting being disabled and us not being clear towards the user about it. see #331
![nodata](https://cloud.githubusercontent.com/assets/20774/8683761/6bf52238-2a29-11e5-86c2-012306f63823.png)
going to close this for now.

[2015-07-14 20:43] #238 closed

[2015-07-15 12:39] woodsaj commented on #323
one thing to note is that if the udateMonitorStateCmd fails because the state_change time in the DB is more recent then the timestamp we are trying to set, then we need to stop execution and return a 'fatal' error so that the job is not re-queued.

[2015-07-15 12:46] Dieterbe commented on #323
right.

[2015-07-15 12:46] woodsaj commented on #329
This seems reasonable.  The form clearly asks for `domain name` but given that when copying just the domain name from the location bar in Chrome you end up with a full url, it makes sense that we should accommodate that.

Should be pretty straight forward to do.  if the string entered contains "://" then treat it as a url and parse it to get the domain name.

[2015-07-15 13:04] Dieterbe opened #332 "make instance id's settable through config"
and use current approach as a fallback.
otherwise it's hard to work with them in dashboards.
we can then use config management to assign id's such as web-1, web-2, alert-scheduler-1, etc.

[2015-07-15 13:11] woodsaj commented on #332
we already have an instance-id used for the collector-ctrl.  It stores the instance_id in data-dir/instance-id

https://github.com/raintank/grafana/blob/master/pkg/api/socketio.go#L220-L240

maybe we can move this to the settings package.

[2015-07-15 13:20] Dieterbe commented on #332
1) looks like that code saves it to a datapath which is probably the same for different instances on same host, and so they override each other's files. unless they have a different datapath setting in config
2) I only want to have randomly generated stuff like `instanceId = uuid.NewV4().String()` as a fallback, and prefer human readable and comprehensible instance id's. and in the fallback case i

[2015-07-15 13:41] woodsaj commented on #332
host+pid doesn't work for the collector-ctrl as it needs the instance-id to be persistence across restarts.

You can already set the instance-id to whatever you want, just write it to data-path/instance-id and it will be used. it does not need to be a uuid, i just used uuid's as i wanted something that would be unique,

[2015-07-15 13:59] Dieterbe commented on #332
hmm i'm not seeing a nice way to combine collector-ctrl-id and statsd-id then. does the current uuid approach support running multiple instances on the same host? it seems the uuid gets written to the same path.

[2015-07-15 14:49] woodsaj commented on #332
if you were running multiple instances on the same server you wouldn't have them all use the same datapath.  The datapath is used for:
- sqlite db (which you wouldnt be able to use with multiple instances)
- default log path
- xorm log path (when app_mode=development xorm logs all sql queries)
- file based sessions

Just to separate logs, multiple instances should all use a separate dataPath

[2015-07-15 15:02] Dieterbe commented on #332
oh, we should clarify that in http://docs.grafana.org/installation/configuration/#paths and in conf/defaults.ini , that multiple instances should have different paths.

what we could also do is, instead of forcing users to make sure they specific different paths, have them specify a "base path" (could be same for multiple instances), as well as an instance key (which must be different), and then p

[2015-07-15 15:09] woodsaj commented on #332
forcing users to use `base-path/instance-key` is not a good idea.  The whole reason for having the paths configurable is so that users can set them however they want.

I agree that when running multiple instances on the same server (which would be rare) base-path/instance-id is a good approach, but it can just as easily be achieved by just setting the dataPath to `basePath/instance-key`

[2015-07-15 16:09] woodsaj commented on #330
I have updated the endpoint discovery to not enable DNS checks if the endpoint is an IP.

But the actual issue of checks succeeding would be a bug in the collector.

[2015-07-15 16:09] #330 closed

[2015-07-15 16:38] Dieterbe commented on #330
and we'll rewrite the collector anyway, so no need to open a ticket there.

[2015-07-15 16:43] Dieterbe commented on #329
so what happens if you enter https:// and auto-discovery finds https down? @nopzor1200 mentioned it would be nice if we enabled https anyway, because the user explicitly pasted it in.
we don't even have to try to autodiscover https in that case as we'll auto-enable.

likewise if you paste in http://

[2015-07-15 17:12] Dieterbe commented on #332
ok so how about this:
in config/defaults.ini
[code]
with a note that *all* grafana instances should have a unique instance-id, so they can change it in their config.

we then use instance-id for both statsd and collector-ctrl.
it also means we can remove the reading/writing to that id file cause now it's just in the config.

and in the path section, we add a notice to make sure that people set uni

[2015-07-15 17:23] woodsaj commented on #332
sounds good to me.  Clean and simple.

[2015-07-15 17:38] woodsaj commented on #329
if you pass http://host and it is not discovered i would think that you would want to know that.

[2015-07-15 17:45] Dieterbe commented on #329
why? why would discovery be helpful?

[2015-07-16 02:28] woodsaj commented on #329
i think that there is a higher probability that i put the wrong address in then there is that it I want to monitor a site that is currently unreachable.

[2015-07-16 15:23] Dieterbe commented on #329
ok I think I agree with that and I think nothing else needs to happen here. @woodsaj and @nopzor1200 ok with that?

[2015-07-17 09:48] #332 closed

[2015-07-17 16:06] Dieterbe commented on #266
i'm going ahead with this unless @woodsaj has an argument against mine.

[2015-07-17 16:42] Dieterbe commented on #83
this is done via 2ababebcd2d9adf9219f6b5c6d3e4042aa055709 and 4d6d93aff88f1f8c1b628840df184a3eb8a84a7f

[2015-07-17 16:42] #83 closed

[2015-07-17 17:45] mattttt opened #335 "Dashboard Edits - Sortbyname and Min-width"
Quick dashboard tweaks for a push this weekend:

- In summary dash, add sort by name to all series, so the colors are consistent across panels.
- In Endpoint: Comparison,  add a min-width of 3 to the repeating panel section and set the panel width to 0 for the main collector panels.

[2015-07-17 21:09] Dieterbe commented on #331
@torkelo @woodsaj I made some progress in the above commit but I keep getting:

[code]

interestingly, when I change the file and it recompiles and reruns I get this:

[code]

please help me out with this.

also @woodsaj we'll need a way to make sure that whenever we show the "state" and we pull the state from the db, we also look at this field, and compare it to now() and frequency, and switch th

[2015-07-17 21:13] mattttt commented on #335
Fixed in branch: `matt_dash_tweaks`. Submitting PR: https://github.com/raintank/grafana/pull/336

[2015-07-17 21:17] #151 closed

[2015-07-17 21:17] #152 closed

[2015-07-18 04:37] woodsaj commented on #266
I am not really convinced that the gains from doing this outway the cost.  This is far more complex then just reading and writing a position stored in the DB.

For a single node instance:

if the node is offline for 5minutes, when it starts up again how are you going to schedule the jobs missed during the 5minutes.  You cant just run all of the missed jobs at once as this will break state transiti

[2015-07-18 04:52] woodsaj commented on #331
I commented in your commit what the likely issue is.

As for modifying the `state` field, i would handle that in the GetMonitorById() and GetMonitors() functions.
When creating the DTO response i would just adjust the state field to be Unkown if check_state is more (frequency * X) seconds old.

What are your plans for setting this field. Are you going to update on every check or only every X check

[2015-07-18 05:23] nopzor1200 commented on #228
I originally misunderstood whether this was a high prio vs low prio item @woodsaj confirm it (raft or the like) is not something we need to worry about for now right?

[2015-07-18 05:37] nopzor1200 commented on #319
Once quotas #321 is in place we can allow Orgs to add users to their Org in Litmus. The way it will happen will likely be related to the ongoing Grafana user invite system that @torkelo is prioritizing.

[2015-07-18 05:46] nopzor1200 commented on #329
I can see a few edge use cases where I am adding a URL with the intent to configure a footprint from my internal network collectors inside my network. Polling might not work from app.raintank.io. I admit that this is somewhat of an edge case for now and we an always revisit.

The more important part (which everyone seems to agree on, I think) is that we should accept 3 inputs:

1. domain name (cur

[2015-07-18 05:53] nopzor1200 commented on #303
Another interesting idea that @Dieterbe and I discussed was having as part of whatever (small) Customer service CTA the ability to click a link that would instantly allow them to disable whatever Litmus alerts they wanted without having to even login. If we are sending them an alert we can send them something they can authenticate back to us with (eg. hash) as part of the email and let them disabl

[2015-07-18 05:59] nopzor1200 commented on #301
Yes, DNS first I think is best. TBH while it should be consistent we're not representing the OSI model as much as I'd originally anticipated.

[2015-07-18 06:18] nopzor1200 commented on #291
Personally I think it's a bit of an edge case; I agree with @woodsaj . Just to rephrase and make sure I understand: we're asking whether it's worth it to send stale alerts for outages that are no longer ongoing?

If it means complicating our code or adding load my vote is no.

IMO the alert is pretty useless after just a few minutes. Especially if the site is up now. Infact, for many many use case

[2015-07-18 13:21] Dieterbe commented on #329
i think websites accessible via `http://<ip>` are an acceptable case that may happen once in a while, and i'ld still do http/https discovery

[2015-07-18 13:24] Dieterbe commented on #329
so in that case it's better to have auto-discovery make it apparant that the site is currently down, which is similar to "i put in the wrong address" case @woodsaj mentioned, so i think we all agree on this too. (if auto-discovery fails, make that apparant, instead of still silently starting to monitor something we detected as down)

[2015-07-18 13:27] Dieterbe commented on #301
huh according to OSI http, https and ping are all layer 7 (application layer) protocols, whereas ping is icmp is layer 3 (network). so wouldn't it make more sense to make it ping, dns, http, https?
am i missing something?

[2015-07-18 13:43] Dieterbe commented on #331
that's the plan.  I think we'll be able to a whole lot (at least thousands) of updates per second before this becomes a problem, so once we're past 1k customers this might become an issue and then we'll figure out something better (in memory state, sharded db, ...)

[2015-07-18 14:07] Dieterbe commented on #266
this concern applies also in normal operation (jobs scheduled 10 seconds apart can still finish in the wrong order if one of them takes 2 seconds and the other more than 12).  It's just that this concern is a bit more apparentl in this scenario, but it's definitely not unique to this scenario.
The solution is only update the state, in a transaction, if our state is newer than the last state known

[2015-07-18 14:17] Dieterbe commented on #291
yep.

ok. so you and anthony managed to convince me that this is not enough of a concern right now.
I think things change once our alerting system distinguishes critical (wake up ops engineer!) from warning (email only).  Once we have "soft" alerts (warning, no wake-up) I think it would make sense to send stale notifications for outages no longer ongoing, up to a certain point in the past.  In tha

[2015-07-18 14:21] Dieterbe commented on #266
so #291 convinced me that for now we don't need the state tracking.  However I'ld still like to see your feedback/response on the above comment @woodsaj just to make sure we're aligned. thanks

[2015-07-18 14:49] Dieterbe commented on #291
in addition, we should consider the option of running missed jobs to cover the timespan of an alerting system outage, but without sending notifications or updating the db, merely to assure the state-over-time metrics in graphite are filled in, so that things look good in the dashboards.
(this would need a different mechanism than what i described in #266 though, as we would want to run current job

[2015-07-18 17:00] nopzor1200 commented on #300
Thanks @torkelo this is now fixed in #335 I will close this when I see it looking good in dev-portal too

[2015-07-18 19:05] torkelo commented on #300
did another fix today, concerning repeat panels and unwanted unsaved changes warning, will not effect json dashboards (the default raintank ones) but it will affect user copies of those.

https://github.com/grafana/grafana/commit/0a59d6ab2fb4646e309ea748ad35566b1d992379

[2015-07-18 19:05] #300 closed

[2015-07-19 13:24] woodsaj commented on #228
This is low prio.

[2015-07-20 08:36] woodsaj commented on #303
@nopzor1200 this is that rabbit hole that is alerting.  I think we would be better of integrating pagerduty and allowing users to leverage pagerduty's advanced features then trying to advanced notification management ourselves.

[2015-07-20 08:49] woodsaj commented on #329
great.  So what is discussed here is already what has been done.

[2015-07-20 12:42] woodsaj opened #337 "unable to change path, port of https checks"
The ng-model binding on the https.path/port variables is bound to the http data model.

This
[code]
should be this
[code]

[2015-07-20 12:54] #337 closed

[2015-07-20 14:39] #324 closed

[2015-07-20 21:17] mattttt opened #340 "Ugly Error on Gateway Timeout"
![screenshot 2015-07-20 14 28 51](https://cloud.githubusercontent.com/assets/2886187/8787618/1e55d098-2f03-11e5-8937-2987ec41d6e2.png)

[2015-07-20 21:19] mattttt opened #341 "Endpoint Summary Link Incorrect"
Leads to a Dashboard not found error:

![screenshot_2015-07-20_17_18_31](https://cloud.githubusercontent.com/assets/2886187/8787662/6062f448-2f03-11e5-94a5-2c8ac6acf96e.png)

[2015-07-20 21:31] mattttt commented on #341
Fixed in PR: https://github.com/raintank/grafana/pull/342

[2015-07-20 21:31] #341 closed

[2015-07-20 21:41] mattttt opened #343 "Summary Dashboard reporting incorrect uptime"
![screenshot_2015-07-20_17_33_48](https://cloud.githubusercontent.com/assets/2886187/8788016/92ff9d14-2f05-11e5-8157-e8301b4351a9.png)

When onboarding a new user today, they added a new endpoint, and then a ping check. The collectors all reported OK states, and should be 100%, however it's reporting at 99.81%.

If we zoom into the point, it seems that one collector started reporting data first, p

[2015-07-20 22:13] mattttt opened #344 "Forgot password email still uses raintank svg"
which breaks on GMail because of their image caching.

![fwd__ network_admin _reset_your_grafana_password_-_jake_mertel_-_matt_wearecapacity_com_-_capacity_mail](https://cloud.githubusercontent.com/assets/2886187/8788804/07b58f92-2f0b-11e5-9c4f-3cca7c5a356f.png)

[2015-07-20 23:11] mattttt commented on #344
Fixed in PR https://github.com/raintank/grafana/pull/345

[2015-07-20 23:11] #344 closed

[2015-07-20 23:14] mattttt commented on #344
Now these look like this:

![screenshot 2015-07-20 19 14 01](https://cloud.githubusercontent.com/assets/2886187/8789722/7fa2044c-2f13-11e5-93a6-e60581cafc50.png)
![screenshot 2015-07-20 19 13 55](https://cloud.githubusercontent.com/assets/2886187/8789721/7fa1e9d0-2f13-11e5-8d90-64eba050fb3d.png)

[2015-07-21 01:51] nopzor1200 commented on #343
This might be related to how I built the query to calculate uptime.

Basically if there is a not an explicit OK status set for every interval then it'll count that as downtime.

So what is happening in the beginning (I am guessing) is new series are being created for a collector but there is no ok status until it really starts sending data.

So the query does not see 100% OK status and the uptime

[2015-07-21 03:01] nopzor1200 commented on #303
@woodsaj I 100% agree with the sentiment of not handling a lot of this ourselves.

This is more of an abuse-prevention mechanism. The suggestion was rooted not in a "contact management feature" standpoint, but more of a "what happens if people use Litmus to spam people" standpoint.

In general though I think we're on the same page: when it comes to things like contact routing, escalation, alert ac

[2015-07-21 03:02] nopzor1200 commented on #299
I'd like to remove those counts from the collector list page. They're a heck of a lot faster with the new graphite-api but I don't think the numbers are really all that useful there.

[2015-07-21 03:05] nopzor1200 commented on #315
Is this going into master Matt? Still really nice to have, though thankfully these items are loading almost instantly now on prod (as opposed to 5-10 seconds for packets ~50 collectors)

[2015-07-21 03:19] mattttt commented on #299
Agreed.

[2015-07-21 12:49] Dieterbe opened #347 "still seeing a few http ok's after I kill the server"
step 1: kill web server:
[code]
step 2: wait 4 minutes minutes.
step 3: for a couple of minutes it claims there are still 2 ok's next to 19 errors:
(this is with 15minutes ago to a minute ago)
![too-long-down](https://cloud.githubusercontent.com/assets/20774/8800986/7b5be4d0-2fb7-11e5-8f78-9fe2b66dc48c.png)
in the endpoint summary, i believe it does correctly show 0 OK events

[2015-07-21 15:10] #323 closed

[2015-07-21 16:21] nopzor1200 commented on #178
So we want to create a custom panel to help drive user flow once they log in.

Currently we have some dumb HTML in the Home Dashboard asking the user to do various stuff (eg. add endpoint, add users, add collector, etc etc).

We would like to replace this with a single custom panel that is a bit smarter, and helps us control behavior based on what is _actually going on_ in the Org.

The custom pan

[2015-07-21 16:31] nopzor1200 commented on #256
@woodsaj can you comment what information would be available?

[2015-07-21 16:33] nopzor1200 commented on #223
Collector Name | Last Status | Last Measurement
Amsterdam | OK | 456ms

The way I'm thinking of it i'd basically be a table.
Would be good to be able to sort by each heading.

[2015-07-21 16:34] nopzor1200 commented on #276
And when you cancel it it shouldn't say it was successful, either.

[2015-07-21 16:47] nopzor1200 commented on #258
At the very least for now can we make the dashboard links a little bit more prominent, while we think about grander issues

[2015-07-21 16:53] mattttt commented on #258
A couple weeks ago, I put this temporary linkage in place:

![screenshot 2015-07-21 12 51 02](https://cloud.githubusercontent.com/assets/2886187/8806987/7e77b6c2-2fa7-11e5-8edd-6a179bbdd29c.png)

Not the best answer, long term, but at least the functionality is there.

[2015-07-21 16:56] mattttt opened #350 "Collector Summary Dashboard Link -> Going to non-existent dashboard"

[2015-07-21 16:56] mattttt commented on #350
Fixed in matt-patch-2 and matt-patch 3

[2015-07-21 16:56] #350 closed

[2015-07-21 21:03] Dieterbe commented on #329
on dev portal:
![fail](https://cloud.githubusercontent.com/assets/20774/8812488/a22e2088-2ffc-11e5-8748-70349cd897a3.png)
the given http path definitely works in browser:
![fail2](https://cloud.githubusercontent.com/assets/20774/8812507/bc2c13f0-2ffc-11e5-8f33-e56bdec33f98.png)

[2015-07-21 21:26] mattttt commented on #328
Looks great, merged into master. Closing.

[2015-07-21 21:26] #328 closed

[2015-07-21 21:27] mattttt commented on #309
@nchristus I know you're on vacation, so no rush on response. Noticing that it no longer is responsive for the smaller widths. How can we make it the best of both of these worlds?

[2015-07-21 21:29] mattttt commented on #309
Also, this is what it's looking like at wide layouts, super nice.

![screenshot 2015-07-21 17 28 58](https://cloud.githubusercontent.com/assets/2886187/8813030/0e1935c8-2fce-11e5-8a11-f7d59eb5484b.png)

[2015-07-21 21:47] mattttt commented on #309
Keeping branch: nchristus-rt-event-panel-table-layout alive for the moment for future changes, but as it stands currently, has been moved into master.

[2015-07-22 00:43] nopzor1200 commented on #61
This is now resolved and working in app.raintank.io

[2015-07-22 04:05] nopzor1200 commented on #340
Guess this is also a potential error in grafana upstream right?

[2015-07-22 04:06] nopzor1200 commented on #319
Quotas are now in place per @woodsaj but we have not deployed the codebase to prod because we've encountered some (possibly related) strange behavior.

[2015-07-22 04:20] nopzor1200 commented on #303
I've looked around (for about 5 minutes). for a magical "autobounce-out-of-office filtration system" and I can't find one. Any recommendations?

Without such a system I really don't think it's feasible to do the whole "we will reply to alerts" thing.

[2015-07-22 04:38] woodsaj commented on #178
This is quite straight forward.  And the new quota support makes it quite easy to query the data as the /api/quotas call returns the limit and used counts of each of endpoints, users, collectors etc..

[2015-07-22 05:00] nopzor1200 commented on #178
Awesome can you try working it up? I think the v1 plan is to consolidate some of the static Call to Actions on the Home Dashboard into 1 smart panel.

[2015-07-22 05:28] nopzor1200 commented on #19
This was working-ish when playing around with it on dev-portal

There's basically no hit area on anything but the single stat panel.

My asks:

1) The icon be more prominent or a different color
2) If you click on the icon itself you should be taken to the link

In the meantime I think we should roll forward as-is

[2015-07-22 05:33] nopzor1200 commented on #277
Is there anything that actually needs to happen here @mattttt ?

I interpreted @dieterbe original question as if he was saying that it was bad to call it "Add" and advocating calling it "Save". You say "you like simplifying to Add and can make that change".  Am I misunderstanding @dieterbe intent or are you disagreeing with it?

[2015-07-22 05:46] nopzor1200 commented on #316
The new events panel is looking good especially with the new table styling... but it's loading quite slowly. Could this be related?

[2015-07-22 05:49] nopzor1200 commented on #310
This still needs to be done. Obviously a really easy fix.

[2015-07-22 05:53] nopzor1200 commented on #159
suggest closing this and opening individual issues for each area as needed? (but not immediately)

[2015-07-22 05:55] nopzor1200 commented on #347
Which endpoint/dashboard can I reproduce this on? msg it to me on slack if you'd like. I'd like to play around with it.

[2015-07-22 06:03] nopzor1200 commented on #299
Assigning to @mattttt assuming he can remove the counters from the list page and close this out

[2015-07-22 06:32] woodsaj commented on #321
this has been merged into master.
https://github.com/raintank/grafana/pull/339

[2015-07-22 06:32] #321 closed

[2015-07-22 06:37] woodsaj commented on #329
This does work, you must have just tested it before the latest code was deployed to dev-portal.

[2015-07-22 06:37] #329 closed

[2015-07-22 07:58] Dieterbe commented on #329
ah yes, seems to work now.

[2015-07-22 08:05] Dieterbe commented on #61
confirmed!

[2015-07-22 08:05] #61 closed

[2015-07-22 08:11] Dieterbe commented on #299
+1 on counts not useful on list page. all i care about is whether collector is considered online or offline.
this info could go to collector summary/details page.

[2015-07-22 08:29] woodsaj commented on #347
my first thought is that the time on some of the collectors is wrong.  but will look into it more.

[2015-07-22 10:33] Dieterbe opened #356 "after-the-fact alerting runs, in case alerting system was down"
this grew out of #291, basically please read from https://github.com/raintank/grafana/issues/291#issuecomment-122492681 onwards to participate in this ticket.
I think we should support backfilling old alerting jobs, but not neccesarily send critical notifications.
also this is not high prio.

[2015-07-22 10:36] Dieterbe commented on #266
ok AJ upvoting the only-if-newer state in #346 is most of what i wanted to know.

[2015-07-22 10:36] #266 closed

[2015-07-22 13:03] Dieterbe commented on #331
@woodsaj I think the `Unknown column 'state_check' in 'field list'` comes from the `migration.OnSuccess` callback from the "monitor add alerts v1" migration.  It uses `m.Monitor` which now has the `state_check` field in the Go code, but the database (at that step of the migrations) doesn't have the field yet.  I'll try putting my migration before that one

[2015-07-22 13:30] Dieterbe commented on #331
aaaaaaaarg!
so `Name: "state_check", Type: DB_DateTime, Nullable: false` works in devstack just fine.
but circi throws out ` exec FAILED migration id: monitor add state_check v1, err: Cannot add a NOT NULL column with default value NULL`
(*nevermind the fact that other fields are defined the same way, e.g. `{Name: "state_change", Type: DB_DateTime, Nullable: false}` in monitorV3 and monitorV4 and

[2015-07-22 13:36] woodsaj commented on #331
I am pretty sure the 'Default' field is not implemented. you would need to check with @torkelo

sqlite3 will not let you alter a table and add a column that is set to nullable=false and doesn't have a default.

Just set `Nullable=true`. Within GO there is no 'null' value for a time.Time variable.  If the DB had null, GO would assign the zero time.Time value, which is 1970-01-01 00:00:00 anyway.

[2015-07-22 13:37] woodsaj commented on #331
also, you can see the SQL queries being executed if you set 'app_mode = development' in your grafana config.  sql statements are then logged to data/log/xorm.log

[2015-07-22 13:40] woodsaj commented on #331
actually, that wont show the statements of the migrator.  Look at the sqlstore package for how to enable logging the sql statements.

[2015-07-22 15:04] bulletfactory commented on #277
The suggestion is changing the button at the bottom from "Add Endpoint" to simply "Add" which aligns with verbiage in adding a new datasource.

The confusion is the word "Endpoint" as it reads like it would be adding a second endpoint.

![screenshot 2015-07-22 11 00 20](https://cloud.githubusercontent.com/assets/1950595/8828629/2c17d528-3061-11e5-8e46-2daa132e6637.png)

If the button just said "Ad

[2015-07-22 16:01] woodsaj commented on #256
Pretty much everything we are storing in the collector_session table.  It is important to note that a single collector/location can have multiple sessions if the collector is running on multiple nodes, or just multiple processes.

Count of collector_sessions.
Timestamp of when the collector_sessions where establised.

Not present yet, but would also like to add.
Collector IP address.

[2015-07-22 16:23] #291 closed

[2015-07-22 16:26] Dieterbe commented on #266
[test | uploaded via ZenHub](https://files.zenhub.io/55afc412849fd9803bf8fbbf)

[2015-07-22 18:23] bulletfactory commented on #277
Pushed the update. Will merge unless someone wants to tweak further
![screenshot 2015-07-22 14 22 20](https://cloud.githubusercontent.com/assets/1950595/8833528/3478562c-307d-11e5-83e1-41d6e5aca046.png)

[2015-07-23 03:48] mattttt commented on #224
@nopzor1200 this is the backend ticket. What do I need to do here? (front-end ticket is #225)

[2015-07-23 06:39] woodsaj commented on #224
Deleting an endpoint will delete from the DB and emit an event that the endpoint has been deleted.

we need to process that event and do the following:

1) delete from elasticsearch. This should be done after 5minutes to ensure that no lingering metrics from collectors come in as these will cause the elasticsearch data to be re-created.  Once the elasticsearch data is deleted, users wont see any t

[2015-07-23 06:56] woodsaj commented on #331
Also, i do think that the problem you are seeing is due to the OnSuccess callback expecting the table to already have the state_check field.
This could be fixed by changing the DB update from
`sess.Id(mon.Id).Update(mon)`  to `sess.Id(mon.Id).Cols("health_settings").Update(mon)`

[2015-07-23 08:13] Dieterbe commented on #224
is that robust? aren't there scenarios like when the collector can't temporarily send metrics, where it might send metrics more than 5 minutes after the fact? or maybe an other part of the pipeline backs up, like the inbound queue in grafana

[2015-07-23 09:24] #316 closed

[2015-07-23 09:47] Dieterbe commented on #331
I tried that change, and moved my new migration behind the "monitor add alerts v1" again, but then I get the dreaded `2015/07/23 09:41:55 [log.go:75 Fatal()] [E] fail to initialize orm engine: Sqlstore::Migration failed err: Error 1054: Unknown column 'state_check' in 'field list'
` again

[2015-07-23 10:18] Dieterbe opened #360 "test issue. can T or AJ please respond to this question"
to test blockers in PM apps

[2015-07-23 10:19] Dieterbe commented on #331
needs #360

[2015-07-23 12:12] torkelo commented on #360
Ok,  responding...

[2015-07-23 12:14] torkelo commented on #331
?

[2015-07-23 14:31] bulletfactory commented on #327
the variablesdark.less and variables.light.less now match grafana's.

Originally, the new raintank specific variables were appended to the bottom of varibles.dark and variables.light files. I decided to create new "raintank.variables.dark.less" and "raintank.variables.light.less" to store all raintank-specific variables.

This should keep the grafana variables files exactly as they exist in grafan

[2015-07-23 14:42] mattttt commented on #327
This is great, as it means we can pull upstream Grafana without dealing with merge conflicts. Makes sense to me.

[2015-07-23 15:07] bulletfactory commented on #239
Font size changes are fixed and merged into master.
<img width="477" alt="screenshot 2015-07-23 11 06 57" src="https://cloud.githubusercontent.com/assets/1950595/8853885/f49a421e-312a-11e5-9e81-42a687a0ff8e.png">

<img width="527" alt="screenshot 2015-07-23 11 00 15" src="https://cloud.githubusercontent.com/assets/1950595/8853843/be4b2c28-312a-11e5-9104-4cb31fd941c1.png">

Will have to look into t

[2015-07-23 16:44] mattttt commented on #239
This is great. I'll pop an issue for @nchristus to look at the tag issue.

[2015-07-23 16:44] #239 closed

[2015-07-23 16:59] mattttt opened #362 "Tag form broken in Grafana screens"
The raintank tag styles are appearing in the dashboard sections:

![tags-dashboards](https://cloud.githubusercontent.com/assets/2886187/8856456/e86f6f4c-311f-11e5-9636-be8569d8416b.gif)

But they shouldnt be there. Dashboards should look like core grafana tag interface:
![tags-dashboards-grafana](https://cloud.githubusercontent.com/assets/2886187/8856466/f3f6c130-311f-11e5-9d78-8f0dc0b576aa.gif)

[2015-07-23 17:01] mattttt commented on #239
Opened issue for https://github.com/raintank/grafana/issues/362

[2015-07-24 04:44] nopzor1200 commented on #295
The time of alert is really the key one here... it's really annoying to receive a few alerts in a row and have to look at headers...
Is this something best assigned to @Dieterbe ?

[2015-07-24 04:48] nopzor1200 commented on #99
This isn't actionable at the moment needs some further discussion assigning to myself

[2015-07-24 04:49] nopzor1200 commented on #277
looks good trent

[2015-07-24 10:05] Dieterbe opened #364 "weird chars being logged?"
saw this in kibana.
(note what comes right after the timestamp and after the OK)

[code]

[2015-07-24 10:19] woodsaj commented on #364
This terminal control characters to set color.

[2015-07-24 10:23] woodsaj opened #365 "validate endpoint and collector names to ensure they are not empty strings."
see: https://github.com/raintank/ops/issues/58

[2015-07-24 10:36] Dieterbe commented on #364
can we just not do coloring when writing to a logfile? `less -r` output is nice but doesn't seem worth the hassle these characters otherwise bring.

[2015-07-24 12:09] woodsaj commented on #178
@mattttt panel added to home_dash_panel branch.
let me know what you think.

Panel HTML is in public/plugins/raintank/panels/raintankCallToAction/module.html

[2015-07-24 12:45] #331 closed

[2015-07-24 13:20] bulletfactory commented on #277
ok - thanks.

[2015-07-24 13:20] #277 closed

[2015-07-24 15:16] Dieterbe opened #367 "queue worker jobs error handling strategy."
what follows is partly a rant about the state of worker queue systems (to the extent I'm familiar with the space, hopefully I'm wrong), but also partly a well-written (or so I hope) piece where I highlight issues I've seen around worker queue semantics and their effects (while often subtle, they can have significant impacts), I want to get us on the same page and design for a deliberate behavior t

[2015-07-24 16:01] mattttt commented on #335
Fixed in PR #336

[2015-07-24 16:01] #335 closed

[2015-07-24 16:01] mattttt commented on #310
This still needs to be done.

[2015-07-24 16:01] mattttt commented on #299
Will remove counters from page.

[2015-07-24 16:02] mattttt commented on #299
Thanks @Dieterbe

[2015-07-24 16:03] mattttt commented on #178
Excellent - will work on this next week.

[2015-07-24 16:17] mattttt commented on #299
Removed in PR https://github.com/raintank/grafana/pull/368, merged into master.

Closing ticket.

[2015-07-24 16:17] #299 closed

[2015-07-24 16:21] mattttt commented on #19
This will need to be addressed as a grafana enhancement - will need to pop a ticket over there with ideas/discussion on how to improve.

[2015-07-24 16:24] mattttt commented on #304
@reduxdj  - can you provide an update here on when you can tackle?

[2015-07-24 16:37] mattttt commented on #310
Fixed in https://github.com/raintank/grafana/pull/369

[2015-07-24 16:37] #310 closed

[2015-07-24 16:38] mattttt commented on #255
This still needs to be addressed. Will pick this up next week.

[2015-07-24 16:39] mattttt commented on #309
Rolled back because it was breaking like whoah:

![screen_shot_2015-07-24_at_11 50 36_am_1024](https://cloud.githubusercontent.com/assets/2886187/8879696/dfa954ea-31e7-11e5-890a-e5f28ee3ef28.png)

[2015-07-24 17:18] bulletfactory commented on #327
pinging @Dieterbe

[2015-07-24 21:00] Dieterbe opened #370 "more context/information in alert notifications"
current litmus alerts are quite plain. they convey time, endpoint and state.
can we add a lot of value within a small amount of work? a worthy thought experiment, especially as it also helps with standard grafana.

* perhaps include a png rendered image of the monitor over time? perhaps more than one (let's say a 24h one, a 6h one and a 1h one)

* can we include a link to a snapshot? this doesn't

[2015-07-24 21:41] nopzor1200 commented on #370
These are all really good ideas. I'd love to do some of this stuff. I guess I'd like to know how possible some of this stuff is, right now, with our current "batteries"? Could use your guidance in knowing what's more practical at this point.

This is related to #125 can you help making these variables available? Currently blocked. It's a more actionable item that could use your help. It would allo

[2015-07-26 13:51] woodsaj commented on #364
logging is a core grafana feature. any changes needed should be done against upstream grafana.

As a minimum we should just add syslog support to the grafana logging package.

[2015-07-26 14:14] woodsaj commented on #367
As far as i am concerned, any job that completes processing should be acked, regardless of whether an error was encountered or not. The purpose of the alerting jobs is to determine the state of something at a  specific time.  I think logging that you could not determine the state is more important then back-filling data.  That is the while reason for having `unknown` as a valid state.

If we do wa

[2015-07-27 08:03] #360 closed

[2015-07-27 10:23] Dieterbe opened #372 "http 500 no longer triggering http errors"
I have an endpoint that in 80% of the time, returns a http 500 and the text 'panic' instead of 'ok' which we match on
[code]
I updated my endpoint https://app.raintank.io/endpoints/summary/152 today at 10:12 UTC
however, the http uptime and http status just stays at 100%

i'm pretty sure this used to work fine.
@nopzor1200 @woodsaj

PS i recommend you also use the [bad-http-server](https://github.

[2015-07-27 10:26] Dieterbe commented on #280
this looks like no longer an issue

[2015-07-27 10:26] #280 closed

[2015-07-27 11:09] Dieterbe commented on #367
I like these points. So the question then becomes which types of errors should cause the job to "complete" with status=unknown?  Currently there's a whole class of errors (like graphite query failures) that bail out early with an error.  Are you saying that basically any error encountered should cause us to try exiting with status=unknown as opposed to bailing out?

The problem with putting the re

[2015-07-27 11:53] Dieterbe commented on #135
for getSchedules, with which I think I meant getJobs, we now use standard logging. see ELK alerts for that.

[2015-07-27 12:04] Dieterbe commented on #135
needs https://github.com/raintank/ops/issues/40

[2015-07-27 13:23] Dieterbe commented on #295
i suspect awoods is much more familiar with the code but i can give this a shot

[2015-07-27 13:24] Dieterbe commented on #327
@bulletfactory what's up, i don't know much about this stuff.

[2015-07-27 13:33] Dieterbe commented on #303
didn't see one either.  I guess it depends on what email provider we're using.  if just gmail, then perhaps with some gmail filters we can go a long way.  bounces should be fairly easy to match on with simple patterns no? alternatively, if front app, maybe we can ask them for advice.

[2015-07-27 14:40] Dieterbe commented on #135
the only thing left is activate https://app.datadoghq.com/monitors#status?id=237049&group=all&live=4h to pagerduty once my fix for improper outcomes is deployed

[2015-07-27 14:49] bulletfactory commented on #327
I need to double check some of the wayward less files to compare (there are
a ton in bootstrap), but should be complete. The idea is to have all css as
grafana-proper, and raintank overrides only in the rt folder.

On Mon, Jul 27, 2015 at 9:24 AM Dieter Plaetinck <notifications@github.com>
wrote:

[2015-07-27 14:57] Dieterbe commented on #327
sounds good to me. but is there anything you wanted from me? (if you want advice on how good this approach is, i'ld ask anthony or torkel)

[2015-07-27 15:06] bulletfactory commented on #327
Appreciate the offer. I think we're set, I just got pulled away from it last week.

I just need to diff all the less files to see if there are any classes we overwrote (shouldn't be, but can't be reckless; need to confirm). I don't see any downsides to this approach, since raintank styles are called after all the grafana styles. What do you use to diff a dir of files?

[2015-07-27 15:08] Dieterbe commented on #327
`diff -r` maybe but that assumes that changed files still have the same name at least

[2015-07-27 22:15] mattttt commented on #327
hehe, you guys are silly ( @bulletfactory & @Dieterbe ). Wasnt that ping in response to @Dieterbe asking people to ping him on tickets while testing project management software?

[2015-07-28 04:50] nopzor1200 commented on #275
This looks to be resolved in dev-portal at least (where Master account has 140+ endpoints and can test this well). Haven't verified on app.raintank.io @mattttt ould you verify and close this?

[2015-07-28 05:07] mattttt commented on #275
As of tonight, 66 in the dashboard dropdown and 71 showing in Litmus.

[2015-07-28 05:07] mattttt commented on #275
@ctdk Let me know when this is in product and I can check again.

[2015-07-28 08:36] woodsaj commented on #249
i think these are two different issues.  /debug should be limited to localhost.  Preventing proxied datasources from hitting internal IP address is a separate issue.

[2015-07-28 09:50] #365 closed

[2015-07-28 10:25] Dieterbe commented on #284
ok (just posting something here so it goes out of unanswered queue in codetree)

[2015-07-28 12:15] woodsaj commented on #295
endpointId and time of have already been added in, see https://github.com/raintank/grafana/commit/92b73558636b3fc457a5f25a6c8c2d12070fd3de

 all that is missing is endpointName.

[2015-07-28 12:42] woodsaj commented on #372
we dont currently use response code for determining if an error is present.  We used to have a config paramater for valideStatusCode, but that was removed a long time ago in favor of just storing the statusCode as a metric and allowing users to to set thresholds on it (we used to be able to do this with realtime alerting)

The only time an error will be raised is if we cant connect, or if the cont

[2015-07-28 13:27] Dieterbe commented on #372
ooh ok so i must have just forgotten to specify the content-match and mistakenly presumed it would use the http code. i'll verify this a bit more and can probably just close this.

[2015-07-28 13:37] Dieterbe commented on #295
@woodsaj what do you think of https://github.com/raintank/grafana/pull/373
I realized just the endpoint name is not enough to be really useful. it's better if we can include port, path and so on.

[2015-07-28 13:42] woodsaj commented on #295
#373 looks good, but what is needed comes down to what @mattttt  needs to for the email templates.

[2015-07-28 13:44] Dieterbe commented on #295
ok well @mattttt this gives you access to a bunch of the parameters:
[code]
you can use as many, or as little of these as you please ;)

[2015-07-28 13:47] Dieterbe commented on #295
@mattttt can you confirm whether you need anything else?

[2015-07-28 16:50] woodsaj commented on #275
@mattttt the has already been pushed to production.

But i just did some testing and due to the volume of data the 10K document limit is not enough for packet.   They have ~70K metrics indexed.

I am not sure that i am comfortable increasing the document limit that high and we might need to look at other options.  Having to process 70K documents to return just 70ish results is pretty expensive.

[2015-07-28 17:02] nopzor1200 commented on #295
Is it easy for you to do time too?

The User Agent, Cert  etc I think is a bit extraneous.

Endpoint name and time need to be front and center and are much more important.

Is it easy for you to make endpoint name and time of alert available?

[2015-07-28 17:04] Dieterbe commented on #295
well time is already available. re endpoint name, isn't that just the host field, which I made available earlier (see above)?

[2015-07-28 17:08] nopzor1200 commented on #372
This is kind of similar to the change we made where we set error state if packetloss = 100, imo.

What do you think of a similar idea to set error state on the test if the statuscode returned >= 400.

I think it's a reasonable default to make for now, until we have more sophisticated alerting.

(More sophisticated alerting would let you define what statuscodes for http and/or what levels of packet

[2015-07-28 18:11] nopzor1200 commented on #278
Adam touched base with me via text just now to continue the discussion about Packet helping with the rewrite of the "probe software"

[2015-07-28 18:16] nopzor1200 commented on #347
can you validate the time on all the prod collectors are the same and ntp is running?

[2015-07-28 20:49] ctdk commented on #347
All production machines in GCE have NTP and have been synced up; however, not all collectors have it. Rectifying the situation. Some of the Amazon collectors have changed IPs, so I'm going in and running chef on those now.

[2015-07-28 21:01] ctdk commented on #347
Aside from any potential date problems with the Amazon collectors, it seems that only one (seattle) had an inaccurate clock. NTP is now explicitly in the base recipe, instead of taking it for granted that it's part of the base system (which it generally is).

[2015-07-28 22:21] ctdk commented on #347
All prod collectors have the correct time, and ntp is running.

[2015-07-28 22:22] ctdk commented on #347
@dieterbe, can you test and see if any more OKs come in when they shouldn't?

[2015-07-29 01:27] nchristus commented on #309
Updated the layout to accommodate the additional column.

These data table layouts are tricky, especially when responsive.

It's looking much better now :)

[2015-07-29 05:23] woodsaj commented on #91
Given that we now have ELK set up, i think the best approach is to just log warnings and errors.  WE just need to ensure that the log messages contain all relevant data.

[2015-07-29 06:33] ctdk commented on #275
@mattttt I'm not sure if this still needed my attention or not, but production has the latest grafana code now.

[2015-07-29 08:40] Dieterbe commented on #91
yep. do we need to do a big code review to make sure we have the right log calls in all places or are we pretty confident we're in good shape? I'll review the alerting pkg to be sure of that, at least.

[2015-07-29 08:53] woodsaj commented on #295
Host field is not always the endpoint name.  Typically when using the endpoint discovery the endpoint name and hostname are the same, but the user can change it.

To get endpoint name, we would need to add endpointName to model.MonitorForAlertDTO{} and update the query in sqlstore.GetMonitorsForAlerts() to retrieve the endpoint.name (the existing query already has a table join with the endpoint ta

[2015-07-29 09:17] woodsaj commented on #275
Fixing this will be related to https://github.com/raintank/raintank-metric/issues/11

[2015-07-29 09:29] Dieterbe opened #374 "track how many emails sent to each org/user"
so that if they get too many emails, we can reach out to them to:
* help them/advise them on how to tune alerting configuration to be less noisy, a prerequisite to being more relevant and useful. also should build a much stronger relationship between us and them.
* reach out to them and apologize if we suspect the problem is on our side.

first step could be using mysql and have a record for each

[2015-07-29 12:52] Dieterbe commented on #372
I like having >= 400 be treated as errorous by default, unless we provide the knobs. but I'm not convinced this decision should be moved into the collector.  it seems more flexible and simpler to implement that decision in the receiving end of the metrics, and keep this concern away from the probe/collector. i like @woodsaj's approach of storing the http code as a metric, this gives us a lot of fl

[2015-07-29 12:56] nopzor1200 commented on #372
It'll be much cheaper for the collectors to set error state, similar to
how they do for packet loss right now.

Regardless of that detail - guess you and I agree on the concept of
"erroneous by default" for >400

-r

On Wednesday, July 29, 2015, Dieter Plaetinck <notifications@github.com>
wrote:

--
Raj Dutt

co-founder/ceo, raintank
+1-917-664-1310
dutt@raintank.io

[2015-07-29 13:05] nopzor1200 commented on #372
Oh and just like packet loss I agree storing it as a metric still no
matter what we do. Once we have more alerting capabilities that will be
super useful.

On Wednesday, July 29, 2015, Raj Dutt <dutt@raintank.io> wrote:

--
Raj Dutt

co-founder/ceo, raintank
+1-917-664-1310
dutt@raintank.io

[2015-07-29 13:21] #295 closed

[2015-07-29 14:18] mattttt commented on #362
@nchristus After the event panel, can you hop on this?

[2015-07-29 15:15] nchristus commented on #362
@mattttt you bet!

[2015-07-29 15:16] Dieterbe opened #375 "tracking alerting state changes"
I want to see graphs annotated with state changes (ES annotations)
* as a user, i'ld broadly like to see the kind of info we show in the alert notification (which btw, should be extended with some more details)
* as a litmus operator I'ld like to see the above, but i also want debug information (such as input data used) in case the alert didn't behave as expected.

as long as there's nothing too p

[2015-07-29 15:32] Dieterbe opened #376 "autodiscovery skipped?"
on dev, new addpoint, paste in `http://metrics20.org:8888/bad/0`
(this endpoint always returns 200 OK also at time of testing)
results in
[code]

1) we should tell the user why we skipped discovery
2) why did it skip in this case? it shouldn't

[2015-07-29 15:34] Dieterbe opened #377 "why can you rename endpoint only after it's been created?"
i've been using litmus since forever and i just found out you can rename endpoints.
i never knew because when you add an endpoint, you do discovery etc, there's no option to give it a different name.
but when you go to it after creating, and configuration tab, there you can change the name

[2015-07-29 15:38] Dieterbe opened #378 "numbers of collectors don't match on dev"
![huh](https://cloud.githubusercontent.com/assets/20774/8962004/964bb2ea-3618-11e5-9163-5fbbfd0a3f00.png)
5 or 6?

[2015-07-29 15:39] Dieterbe commented on #378
`/endpoints/summary/470`

[2015-07-29 15:39] bulletfactory commented on #376
I see tested your address in dev and saw the same result. auto discovering
http://metrics20.org, without port/path seemed to auto discover
successfully however

On Wed, Jul 29, 2015 at 11:32 AM Dieter Plaetinck <notifications@github.com>
wrote:

[2015-07-29 15:42] Dieterbe opened #379 "changing endpoint name changes hostnames"
in endpoint config i changed the name to a name i liked more.
little did i know, this also changed the hostname of the endpoint in the http/ping monitors, thereby breaking my monitoring, making everything critical and leaving me puzzled as to why.

[2015-07-29 15:43] Dieterbe commented on #379
interestingly, i can then just change the hostnames back to what they should be, and at least i can keep my custom name.

[2015-07-29 15:45] bulletfactory commented on #379
We also have different terminology for the field depending on if you're
creating a new endpoint, or configuring an existing. It's called Domain
Name when adding new and Endpoint Name when changing an existing. This can
be confusing, though It's probably not necessary to have a 2 fields; one
that's a "friendly name" and the other that's the domain name. Thoughts?

On Wed, Jul 29, 2015 at 11:42 AM D

[2015-07-29 15:50] Dieterbe opened #380 "mixed up endpoints ?"
in dev i have 2 endpoints:
* `metrics20.org` which has an http check on metrics20.org:8888/bad/80 which should be failing constantly
* `metrics20 daily 5min 50 dev` which has an http check on metrics20.org:8888/custom/daily-5min-50-dev which is up all day except a 5min period each 24 hours. in this case i accidentally broke the monitoring config (see #379) so my endpoint was down briefly:
![temp-b

[2015-07-29 15:53] Dieterbe commented on #380
also the fact i can arbitrarily go back in time, there's a long data history even though i only added it around 17:40 CEST today.

if it helps (or maybe i'm just trying to confuse you) the 2nd endpoint (`metrics20 daily 5min 50 dev`) used to be called `metrics20.org`)

[2015-07-29 16:03] nopzor1200 commented on #380
I think its just a dashboard query error on the DNS summary panel looks like

[2015-07-29 16:09] nopzor1200 commented on #379
Lets chat about this today

[2015-07-29 16:10] nopzor1200 commented on #379
100% agreed @Dieterbe this is extremely confusing. Matt and I have actually discussed this very issue before. Am on the same page here.

[2015-07-29 19:21] Dieterbe commented on #347
I verified this issue no longer manifests, both on dev and prod. thanks. they jump straight to 100%  error now.

[2015-07-29 19:21] #347 closed

[2015-07-29 19:23] Dieterbe commented on #379
k

[2015-07-29 19:23] Dieterbe commented on #327
k

[2015-07-29 19:29] Dieterbe commented on #135
done.

[2015-07-29 19:29] #135 closed

[2015-07-29 19:37] Dieterbe commented on #372
played a bit with it more. was indeed simply the content match setting. only thing left to do is implement the error on >= 400. @woodsaj can you check both suggested approaches above and tell us if nopzor's approach looks good. i'm ok with nopzor's approach (report http code as metric as we do, but have collector set error state on >= 400), i'll definitely be simpler then doing it as part of alert

[2015-07-29 19:48] Dieterbe commented on #380
so i changed the name of `metrics20.org` to `metrics20.org /bad/80`, after which, when i load the dashboard again, i get the correct timerange (populated as of 17:40, and mostly red)
so i guess changing the endpoint name to something more unique makes me able to access the true data again.

[2015-07-29 20:14] nopzor1200 commented on #375
This is a great idea. Can't believe we didn't think of this before.

Would be cool to do even with the feature 'as-is' in Grafana.

(when I say as-is I mean the limitation of ALL annotations showing up on ALL panels which I think its the case right now. Perhaps something to improve in upstream Grafana)

[2015-07-29 20:14] nopzor1200 commented on #375
@Dieterbe

[2015-07-29 20:39] Dieterbe commented on #375
are you saying we can't include $endpoint in the search string configured for ES annotations?
ALL on ALL is probably acceptable, except for those customers who have a lot of endpoints.

[2015-07-29 22:29] mattttt commented on #309
Have to test this. Will come back tomorrow/Friday.

[2015-07-30 01:59] woodsaj commented on #377
You can change the name. Just click "start over" and input a different name.

[2015-07-30 02:05] woodsaj commented on #378
this shows on 5 results for me.

@Dieterbe
Did you change the the tags on collectors?
If a check is configured to run on all collectors using tags, and you add or remove a tag from a collector it can take up to 5minutes for the change to take affect.

[2015-07-30 02:21] woodsaj commented on #376
This is a frontend bug.  Discovery is successful and the checks are populated with the correct settings, but for some reason "discovery skipped" is displayed.

[2015-07-30 02:25] woodsaj commented on #372
Adding a `if statusCode >= 400` condition is only a few lines of code and can easily be done.

@Dieterbe @nopzor1200
My only question here is if we want to allow the user to specify the set of valid http codes?

[2015-07-30 02:32] woodsaj commented on #380
i am fairly sure this is an issue with the data in elasticsearch.

@Dieterbe can you explain in more detail what lead up to this.

1) you created an endpoint with the name "metrics20.org", lets call it endpoint1
2) you renamed endpoint1 to "metrics20 daily 5min 50 dev"?
3) you created a new endpoint with the name "metrics20.org", lets call it endpoint2?
4) when querying endpoint2 you get endpoint1

[2015-07-30 02:36] woodsaj commented on #375
i think raj means that annotations are scoped to a dashboard, not a panel.  This would be fine on a protocol specific dashboard, eg rt-endpoint-ping, as it would make sense to show the annotations on all panels.  But on the rt-endpoint-summary you would have annotations for ping, dns and http showing on all panels which would be confusing.

Writing the data to ES should be pretty straight forward

[2015-07-30 03:31] nopzor1200 commented on #375
@woodsaj yep thats what i meant should have been clearer

@woodsaj would anything have to be done to make the current "events" usable as annotations? (ie dieters first original use case. I assume basically nothing?). When you say "writing the data to ES should be pretty straight forward" I assume you mean "app events" (ie. dieters second original use case) - things like updating HTTP check, adding

[2015-07-30 03:39] nopzor1200 commented on #380
We restarted a conversation around this today in NY.

So especially with the new "one step URL or domain or hostname or IP" input (which I really like), this whole concept of "input" -> "endpoint human name" -> "endpoint slug name"  needs to be revisited.

The thought is we might want to show/educate the slug as part of the add endpoint process.

@woodsaj My Q is: What is the level of pain in rena

[2015-07-30 03:46] nopzor1200 commented on #372
@woodsaj I agree some may consider 300 code to be an error, just like some users may consider 50% packetloss to be an "error".

We can cater to users who consider 300 to be an error (or anything other than a 200, or anything other than a particular 301 that they're testing, who knows) with more "generic" alerting (I hope we can kick off a discussion about the scope of v1 next week). No need to clu

[2015-07-30 03:50] nopzor1200 commented on #309
Cool here's to hoping it looks better - @woodsaj I'd still like to resolve #44 so that we can use this panel in more places (and allow users to use it wherever they want)

[2015-07-30 06:34] ctdk commented on #91
We can do some processing and mutating of the logs as they come into logstash too. I'll have that set up soon.

[2015-07-30 06:43] ctdk commented on #249
That's a super easy nginx config change. I've added it to our nginx config for grafana already, in fact, and deployed it to dev-portal. I'm opening a separate issue for the proxy thing.

[2015-07-30 06:45] ctdk opened #381 "Prevent proxy data sources from hitting internal IP addresses"
Per #249, (and especially @torkelo's comment at https://github.com/raintank/grafana/issues/249#issuecomment-114995014), people can set up proxy data source and hit internal IP addresses. This is a separate issue from the /debug/vars URL being exposed, so I'm making a new issue for this.

[2015-07-30 07:52] Dieterbe commented on #378
hmm yeah it's 5 now.
maybe, i don't remember.
let's close for now, if i see it again and it's not due to tag change i'll reopen.

[2015-07-30 07:52] #378 closed

[2015-07-30 07:55] Dieterbe commented on #377
that's not "just changing the name though", if you then input a different "name" it will run autodiscovery on that name, that's not what i want, i want to just change the name.

[2015-07-30 07:56] Dieterbe commented on #372
+1 on >= 400 as sensible default, we can worry about user driven customizations later.

[2015-07-30 08:29] Dieterbe commented on #380
2) you renamed endpoint1 to "metrics20 daily 5min 50 dev"?
3) you created a new endpoint with the name "metrics20.org", lets call it endpoint2?
4) when querying endpoint2 you get endpoint1's data?

exactly. and then:
5)  i gave endpoint2 a unique name `metrics20.org /bad/80`
6) i was now getting the proper data in the dashboard for endpoint2.

[2015-07-30 08:35] Dieterbe commented on #249
i want to make sure we don't forget to test https://app.raintank.io/debug/pprof once this change makes it to prod. maybe you're more confident this fix will seamlessly propagate to prod (and that you'd know if not),
but i'm not that familiar with that process yet so i want to make sure i manually verify.

[2015-07-30 08:37] Dieterbe commented on #381
i wonder what is the best way to go about this. maybe a grafana config option for some blacklisted ip's/hostnames that aren't allowed? because obviously in some other grafana setups, it's very common to query localhost, if graphite/influx runs on the same machine.

or can this be elegantly solved by something like iptables or cgroups?

[2015-07-30 10:22] woodsaj commented on #381
My vote is to solve this with whitelist/blacklist configuration options.

Some users will want to allow everything but a host/network. Others will want to allow only specified network/host.

something like, if in whitelist then allow. if in blacklist then deny.

we could then set a blacklist to 127.0.0.0/8,10.0.0.0/8

[2015-07-30 10:25] woodsaj commented on #372
i have opened https://github.com/raintank/raintank-collector/issues/16 for this.

[2015-07-30 10:31] woodsaj commented on #380
yep, this definitely sounds like the issue is with elasticsearch queries.
There is a known problem with deleting an endpoint or changing the endpoint.Name then creating a new endpoint with the firsts original name.  The cause of the problem is due to us using org_id.seriesName as the unique key of a metric definition, even though it is not unique (due to the above two cases).  When a metric arrive

[2015-07-30 10:34] woodsaj commented on #375
we would need to add a datasource to serve the annotations.  Even though the events are stored in ES, we cant just gives uses full access to our ES cluster.

[2015-07-30 12:38] Dieterbe commented on #372
closing this then.

[2015-07-30 12:38] #372 closed

[2015-07-30 22:10] bulletfactory opened #382 "Collector Tag Checkbox Will Not Check/Cannot Uncheck"
When selecting collectors by tag the checkbox is not functioning properly. IE: I check "USA," it correctly selects the proper individual collectors on the left side, but USA remains unchecked. Also, checking USA again will not deselect those collectors on the left.

![owcqc](https://cloud.githubusercontent.com/assets/1950595/8996482/3b7e8b70-36e6-11e5-9835-8cceefdcd2e7.gif)

[2015-07-31 03:20] mattttt commented on #376
I'll look into this one. I also want to include some better feedback on the front-end when the discovery is taking more than ~5s (similar to the loading messages on list screens)

[2015-07-31 08:20] Dieterbe opened #383 "/endpoints/new -> toggle off "enabled" switches to "not discovered""
1. go to new endpoint
2. enter a uri to monitor
3. hit auto discover
4. hit configure for one of the monitors that is enabled. it says something like "every 10s from 1 collector | Configure"
5. turn off "enabled" flag.
6. now it says "not enabled | not discovered | configure", which is incorrect. it definitely is (was) discovered, i merely disabled it.

[2015-07-31 12:25] Dieterbe opened #384 "schedule alerting jobs only after we know the collectors have brought in the data"
let's say you add a monitor at 00:00:00, freq 60s, and have an alert for X collectors being bad during Y steps.
how long should we wait before scheduling alerting jobs? i.e. by what point should we have Y non-null values for all collectors?  (Y+1) * 60 (+ the usual 30s offset?)

right now we ignore created time and schedule jobs straight away, resulting an errors for unknown data.

@woodsaj

[2015-07-31 15:54] Dieterbe commented on #228
(interestingly, this ticket was in "to do" in  codetree. when i moved it to backlog it removed the backlog milestone. i guess cause it doesn't use milestones for backlog.

[2015-07-31 17:03] woodsaj commented on #384
you should schedule them straight away.  The initial state of a monitor is Unknown and the alert jobs should also result in Unknown until there is data available.

Unknowns should NOT be treated as an error.  It is expected that there will sometimes be null data.
Newly created/enabled checks will show have null data but the most common cause is if collectors are offline, this is most prevalent for

[2015-07-31 17:29] Dieterbe commented on #384
shit. that is a good point. also, if you change which collectors to enable for a monitor, previously enabled monitor will return series with a few nulls (right after the change) and full on nulls after a while.  deleting the series wouldn't be a good idea and somehow putting a "hard stop" at the last timestamp seems too complicated. so i guess that would be a 3rd reason.

the reason why i went dow

[2015-07-31 18:26] mattttt commented on #309
After chatting and exchanging screenshots, we realized that the issue seems to be related to the menu being open. When closed, it works great and steps down responsively. @nchristus working on a fix.

[2015-07-31 19:49] mattttt opened #385 "Links to Event Dashboard not working"
On Endpoint Summary, the links to the event dashboard are not working. Currently, they are dead linked.

![raintank_-_litmus_events](https://cloud.githubusercontent.com/assets/2886187/9016035/be45bf14-379b-11e5-9df3-6bf776b3d226.png)

[2015-07-31 19:57] mattttt commented on #385
Fixed in PR https://github.com/raintank/grafana/pull/386
Merged into master.

[2015-07-31 19:57] #385 closed

[2015-07-31 21:58] #327 closed

[2015-08-03 02:53] mattttt commented on #178
Pulled the branch, looks great. Took a bit longer than anticipated going through a number of variations, but I think this is by far the best version. Code-wise will be extremely simple to implement, and I think is a much more focused version of our landing page.

### Now:
![dashboard-home-cta-now](https://cloud.githubusercontent.com/assets/2886187/9029860/6684a942-3968-11e5-8e36-a67560a9191c.png)

[2015-08-03 03:06] bulletfactory commented on #178
Visually slick and helpful. A good place to teach people to look for answers

[2015-08-03 07:45] Dieterbe commented on #384
thoughts on the above, @woodsaj ?

[2015-08-03 08:00] Dieterbe commented on #178
looks nice.  but what happens if there is only one person in the org that deals with website availability and there isn't really anyone else for them to add?
does our logic deal with this and suggest something else that is more relevant to them or will it keep saying "invite a new team member" ?

[2015-08-03 08:36] Dieterbe commented on #370
this might be fairly easy via bosun expression.

for how long what? is it down from each location? if you're getting a down notification than it most often means it just went down, although there could be some cases where it may have been down from one or two collectors for a while longer. retrieving this information is non-trivial though, you'd basically have to do extra queries and travel far en

[2015-08-03 13:22] woodsaj commented on #370
No, you cant do html only.  The graphing frontend is all javascript.

I find email to be a pretty limited medium for providing this type of data and would personally rather just get a link to a "Fault" dashboard that shows the details of the alert and relevant graphs that i can interact with.  Just sending a link works equally well with SMS as it does with email which many people still use.

It mi

[2015-08-03 15:16] woodsaj commented on #384
I fixed a few bugs in graphite-kairosdb plugin last week and did a bunch of testing to ensure things were working (i really should write unittests)

The warmup period is still probably a good idea, especially when transitioning from disabled to enabled, as the last known state probably isn't Unknown.  Though, we could also fix this by resetting the state of a monitor when transitioning from/to ena

[2015-08-03 15:19] Dieterbe commented on #384
myeah resetting state seems simpler and more accurate than the warmup period thing.

anyway i know what to do again ;)

[2015-08-03 15:28] woodsaj commented on #178
we could use local browser storage to allow users to skip steps.

[2015-08-03 17:26] mattttt commented on #178
@nopzor1200 and I chatted about this a bit. Going to implement it initially without the progress indicator while we think about how we want to extend that. Without it, we wont need any backend changes yet.

[2015-08-03 21:29] mattttt commented on #178
Bah, just realizing we dont split up first name and last name currently, but we do ask for it in the future (I think). Will revisit that at a later time.

[2015-08-04 08:00] Dieterbe commented on #249
throws 403 on prod now too.

[2015-08-04 08:00] #249 closed

[2015-08-04 15:47] ctdk commented on #248
@Dieterbe: As I'm circling back around to some of my older tickets, I came across this one. Number 2 is obviously still a thing, unless we start using heka and possibly sidestepping this particular issue. I can't remember though if we've already addressed Number 1 here - did one of us already add a profile trigger?

[2015-08-04 16:04] mattttt opened #391 "Browser select styling on Windows"
On Windows, browser select boxes are not styled correctly on the dark theme.

![screenshot 2015-08-04 11 40 29](https://cloud.githubusercontent.com/assets/2886187/9065651/f8e8aa70-3aa0-11e5-878b-897c56614332.png)
![screenshot 2015-08-04 11 37 34](https://cloud.githubusercontent.com/assets/2886187/9065650/f8e66440-3aa0-11e5-97d9-429ff7d27c19.png)

It should look like this:
![screenshot 2015-08-04 1

[2015-08-04 16:06] mattttt opened #392 "Alphabetize Collector List"
In the endpoint config, collector list should be ordered in some way. I'm suggesting we alphabatize.

It looks like this currently:
![screenshot 2015-08-04 12 06 21](https://cloud.githubusercontent.com/assets/2886187/9065687/3e5b5dfa-3aa1-11e5-9215-6e5f821579e1.png)

[2015-08-04 16:06] Dieterbe commented on #391
same on linux btw. (i use firefox)

[2015-08-04 16:42] mattttt opened #393 "Display Alert Status on Endpoint Summary"
Alert Status is currently only exposed within the config of each check, and needs to be shown on the endpoint summary screen. Need to implement this pretty quickly, so opening up the issue to explore some ideas.

[2015-08-04 16:42] mattttt commented on #393
![screenshot 2015-08-04 12 42 35](https://cloud.githubusercontent.com/assets/2886187/9066539/4cbe8674-3aa6-11e5-8821-7de671810515.png)

[2015-08-04 16:43] mattttt commented on #393
![screenshot 2015-08-04 12 43 14](https://cloud.githubusercontent.com/assets/2886187/9066550/635d644a-3aa6-11e5-84a1-7c59e53d2964.png)

[2015-08-04 16:43] mattttt commented on #393
![screenshot 2015-08-04 12 43 39](https://cloud.githubusercontent.com/assets/2886187/9066558/754f7abc-3aa6-11e5-9578-6eee39e3971f.png)

[2015-08-04 16:44] mattttt commented on #393
I like the first one. We dont say the word alerting, but I think the icon can be sufficient here. Also, I like adding in a tooltip to show what emails are configured.

[2015-08-04 17:10] mattttt opened #395 "Health: Nodata displayed despite having data"
Onboarded a new user today, and nodata is being show for all checks - despite OK events being reported.

![screenshot 2015-08-04 13 09 25](https://cloud.githubusercontent.com/assets/2886187/9067194/0aeafbac-3aaa-11e5-87ae-81cd9e77046a.png)

Also, in Ping dashboard, OK state not being displayed either:
![screenshot 2015-08-04 12 08 13](https://cloud.githubusercontent.com/assets/2886187/9067226/2832

[2015-08-04 17:17] mattttt commented on #393
An example of how it could step down responsively at the smallest breakpoint:
![screenshot 2015-08-04 13 17 06](https://cloud.githubusercontent.com/assets/2886187/9067399/29f6969a-3aab-11e5-907f-bfba780ff756.png)

[2015-08-04 17:25] woodsaj commented on #319
Quotas are deployed in Production.

@mattttt   are we just now waiting on https://github.com/grafana/grafana/issues/2353 ?

[2015-08-04 18:38] Dieterbe commented on #393
+1 first one

[2015-08-04 20:59] mattttt opened #396 "Traceroute from a Collector"
For discussion...

This has come up a couple times, but clients have requested the ability to traceroute from a collector to an endpoint, so they can see the network path a collector takes.

I envision this functionality existing on the Collector Summary page, and triggering a popup/external window that communicates with the collector, opens a connection, and reports the traceroute back in real ti

[2015-08-04 21:31] mattttt commented on #393
[Note: Deleted the other options to clean up this ticket. Option 1 is the winner]

@nchristus Can you please go ahead and tackle the addition of the alerting stuff to the Endpoint Summary page? You can use dummy text to do the styles, and we'll wire it up to the controller later. Needs to be responsive, as outlined above.

The icons you need are already in the font: `icon-rt-alert`, `icon-rt-alert

[2015-08-05 04:23] woodsaj commented on #278
I cant remember why i was against probe and so I see no problem with renaming.

In that effort i have created https://github.com/raintank/raintank-probe which contains the the rewrite in Go of the collector.

[2015-08-05 04:23] woodsaj opened #397 "rt-endpoitn web dashboard shows latency on y-axis label for throughput"
Throughput singlestat panel is also using the wrong units.  should be 'bytes/sec'

*Note: content-size metrics are not being displayed on the throughput panel due to a bug in graphite-api.
see: https://github.com/raintank/graphite-kairosdb/issues/13

[2015-08-05 04:27] nopzor1200 commented on #278
OK, let's rename it to probe. I think it's a good call.

#decisionmade.

Obviously implications across the board @dieterbe @mattttt @bulletfactory in how we reference stuff and frontend.

@woodsaj its probably a PITA but can you refactor things in our collector software to reference probe instead (across the board...)

[2015-08-05 06:21] woodsaj commented on #278
This is a big job, but achievable

From a quick review of the code the following will need to be done:

1. rename table names and foreign_key column names in the DB.
  * collector
  * collector_tag
  * collector_session
  * monitor_collector_tag
  * monitor_collector
2. update references in pkg/api/socket.io

Changes will also need to be made in raintank-collector while we transition to the all Go

[2015-08-05 07:54] Dieterbe commented on #396
note that routes may be changing at all times. in fact, the reason why a ping check temporarily fails while it should normally succeed may be exactly due to a temporary routing change.
so an "after the fact" traceroute could be very misleading. OTOH doing a traceroute everytime state changes from ok to error might be a bit too resource intensive? idea for a paying feature? thoughts @woodsaj @nopzo

[2015-08-05 09:21] woodsaj commented on #396
Adding adhoc traceroutes shouldn't be too hard.  Once we have it wouldn't be too hard integrate them with alerting, though would obviously need to charge appropriately to recover costs.

[2015-08-05 12:43] Dieterbe opened #398 "configuring color "shades" to apply to a bunch of similar series"
I'ld like to be able to look at a bunch of similar metrics, say all ok_states of all collectors, as well as all error_states of all collectors.
currently you can choose:
* manually assign colors to each one (very tedious, and not robust in light of new collectors being added)
* use a regex to set all series matching a word to the same color (as in below, red)
* or use the default, so that each ser

[2015-08-05 15:17] bulletfactory commented on #278
And just when I was about to start referring to the new collectors written in Go as "gollectors".

[2015-08-05 15:17] Dieterbe opened #399 "Dashboard redo"
@nopzor1200's team meeting notes contained "Dashboard redo ".

I would like us to start documenting what are complaints & desires (especially as we board people), so we can better discuss and keep track.

* my personal main gripe is that the status error bars don't tell me from which probe the errors are originating, and so i prefer my modified dashboard that [shows the numbers on a per-probe leve

[2015-08-05 15:18] Dieterbe commented on #278
ha. they'll have to be "grobes".

[2015-08-05 15:39] Dieterbe commented on #374
49a415175d865834cf61ff23a06a8825b3c4d184
+
[code]

[2015-08-05 15:39] #374 closed

[2015-08-05 15:40] woodsaj opened #400 "rabbitmq consumer does not continue consuming after channel is lost and re-established"
we need to add https://github.com/raintank/grafana/blob/master/pkg/services/rabbitmq/consumer.go#L39-L41 to https://github.com/raintank/grafana/blob/master/pkg/services/rabbitmq/consumer.go#L105-L107

[2015-08-05 15:42] mattttt commented on #374
Nice!

[2015-08-05 16:04] Dieterbe commented on #392
![pkvkcol](https://cloud.githubusercontent.com/assets/20774/9090739/5aa8756e-3b9c-11e5-9caf-cfa60c818a03.jpg)

[2015-08-05 16:15] Dieterbe commented on #375
while we don't have panel-scoped annotations and so probably wouldn't expose them to users yet (?), i could already load them in admin-only dashboards. this would be really helpful for me in looking into matching up notification events with the graphs of the data, especially if i could activate the annotation and get a popup with more details that include which probes fired. i presume for @matt an

[2015-08-06 01:34] ctdk commented on #248
@Dieterbe Huh, profiling is in fact enabled with that configuration, but it's not writing anything to that directory. Grafana may not have gotten big enough to trigger it yet.

[2015-08-06 03:15] mattttt commented on #309
@nchristus This is sooo close. It's much nicer than what's their name, so I'm going to merge this branch.

That said, the last thing that I think needs to happen to to consolidate the endpoint and collector items into a single line at the lowest breakpoints. Since these are handled semantically as <li> items, I dont know how to make both appear on the same line:

##### What it is:
<img width="573"

[2015-08-06 03:17] mattttt commented on #309
Here's a quick and dirty animated gif showing the different breakpoints for the branch Im going to merge:

![event-panel](https://cloud.githubusercontent.com/assets/2886187/9103106/26510f34-3bc8-11e5-8189-ac55ae5186b6.gif)

[2015-08-06 03:35] mattttt commented on #309
Actually, Im trying to create a new pull request, and it is saying that it's up to date with master. @woodsaj Was this already merged in?

Also, on production there is some formatting weirdness that Im unable to replicate on this branch:
<img width="1292" alt="screenshot 2015-08-05 23 35 18" src="https://cloud.githubusercontent.com/assets/2886187/9103310/b18dd526-3bca-11e5-98c1-e8b7878b9af5.png">

[2015-08-06 05:30] woodsaj commented on #309
@mattttt  what branch?  the nchristus-rt-event-panel-table-layout branch mentioned earlier in this issue hasn't had a commit for 15days

[2015-08-06 05:47] woodsaj commented on #375
look like we can just use the existing Elasticesearch datasource already in grafana.  The query format is well structured that we can insert a filter on OrgId.

https://github.com/raintank/grafana/blob/master/public/app/plugins/datasource/elasticsearch/datasource.js#L71-L78

So we just need to make sure that the format we use for the events we store is inline with what this datasource expects.

[2015-08-06 06:46] woodsaj commented on #400
@ctdk  why is this same change committed to two different branches?
Also the commit is wrong, see the comment on https://github.com/raintank/grafana/commit/6bfc1da27619babc8b56c604ebe1792ee8c8de45

[2015-08-06 13:16] ctdk commented on #400
Saw the comment there, will be doing that now. It was behaving correctly after that change, which made me think it was the right order. The reason you're seeing this same commit in two branches is because I made a new branch and cherry picked this one into it, because the "mu" fix isn't actually necessary to fix the logstash problem, so I'm going to throw that branch away.

[2015-08-06 14:12] mattttt commented on #309
@woodsaj sorry, neglected to mention it. The actual branch is: `nchristus-collector-dropdown`

The other one can be deleted, it's stale.

[2015-08-06 14:19] mattttt commented on #309
@woodsaj: @nchristus just brought to my attention that I inadvertently merged this during my changes on Monday in PR https://github.com/raintank/grafana/pull/389/commits

You can cease to research, totally my fault

[2015-08-06 16:15] ctdk opened #402 "compressing grafana logs"
Grafana has a built-in log rotation which seems to work pretty well for what we need, but when debug logging is on it spews out a *lot* of logs. It automatically rotates the logs when they reach (by default) 256MB, but by default it keeps these logs for 7 days. That needs to be lowered in any case, and can be done in the config file, but I think we should consider compressing the logs when we rota

[2015-08-06 17:12] Dieterbe commented on #402
why does grafana have to worry all this? isn't log rotation a solved problem, i would rather *remove* log rotation code out of grafana. (except for renewing file descriptors on a given signal).
or am i missing something?

[2015-08-06 17:25] ctdk commented on #402
That would be my natural inclination, except that grafana with debug on spews *so* much that even rotating once a day raises issues with running out of disk space.

[2015-08-06 19:22] Dieterbe commented on #402
and we can't run the grafana logrotate schedule more frequently? or is it somehow fixed at 1/day?

[2015-08-06 19:25] Dieterbe commented on #248
that's good. we both tested (me on my laptop, you in dev) that it dumps profiles once the memory reaches the threshold so i'm confident it will in prod.

[2015-08-06 19:27] Dieterbe commented on #375
if we leave it all up to the query format, wouldn't people be able to remove the orgId clause in their own custom dashboards, and get other customer's data?

[2015-08-06 19:43] ctdk commented on #402
I thought daily was the most frequent you could do it, but I was mistaken - hourly is possible (but I need to check and make sure the cookbook won't flip if I try that). That's way better than trying to do it ourselves. Checking now.

[2015-08-07 03:08] nchristus commented on #393
Added the initial styles and small screen layout.

![nchristus-alert-status-endpoint-summary_small](https://cloud.githubusercontent.com/assets/136611/9127938/4a7df27c-3c87-11e5-8d42-4209da352662.png)

@mattttt what should we do in this middle-sized layout?

![nchristus-alert-status-endpoint-summary_med](https://cloud.githubusercontent.com/assets/136611/9127963/916faefa-3c87-11e5-9eb0-d830fb48a503.

[2015-08-07 03:50] woodsaj commented on #375
The orgId would be inserted within the grafana back-end that is proxying the request to ES.

[2015-08-07 03:54] woodsaj commented on #402
I really think that this discussion needs to be moved to upstream grafana.

[2015-08-07 13:42] bulletfactory commented on #393
Alerting is tied to status (ie: critical to OK would send you an alert if it was configured) - so it would make sense to have it visually linked together, positioning it below the status at the far left.

So in the middle breakpoint the left column will have 3 rows. checktype, status, alerting.

Anyone have a counter to that suggestion?

[2015-08-08 07:09] torkelo commented on #375
What log messages are taking up most space? request logs? Do we have debug logging on on dev - portal or production?

[2015-08-10 14:20] ctdk commented on #402
It's ended up being an irrelevant discussion anyway. I'm just going to close this out.

[2015-08-10 14:20] #402 closed

[2015-08-10 14:27] Dieterbe commented on #402
why is it irrelevant? what's the outcome?

[2015-08-10 14:40] ctdk commented on #402
Because I thought we decided that it was better to just run logrotate more often and not try to extend grafana's functionality here. Do you all think we should take this over to grafana/grafana then?

[2015-08-10 14:46] Dieterbe commented on #402
ah no, i just didn't know the decision had been definitely made to just use logrotate. so that sounds good to me.

[2015-08-10 16:04] mattttt commented on #393
No, I think that sounds good. Let me do a quick mockup to make sure it looks good.

[2015-08-10 16:22] mattttt commented on #393
I did two versions, and Trent had the right recommendation. Let's go with this one:

![untitled__canvas_3](https://cloud.githubusercontent.com/assets/2886187/9176625/5b6b6da0-3f5a-11e5-9045-3eab5af975b5.png)

For reference, here is the other one, but it reads much less organized and more cluttered:
![untitled__canvas_4](https://cloud.githubusercontent.com/assets/2886187/9176643/7c1d7c8c-3f5a-11e5-

[2015-08-11 00:49] nchristus commented on #393
Agreed, this looks great. I'll work on getting it implemented.

Thanks for doing the mockup.

[2015-08-11 02:26] nchristus commented on #393
Updated screenshots. Still testing, but looking good so far.

![nchristus-alert-status-endpoint-summary_small](https://cloud.githubusercontent.com/assets/136611/9188827/7fd53de6-3fa6-11e5-855c-cb4a9d6a9fdb.png)
![nchristus-alert-status-endpoint-summary_wide](https://cloud.githubusercontent.com/assets/136611/9188828/7fda2b8a-3fa6-11e5-8e90-733852af3459.png)

[2015-08-11 02:30] mattttt commented on #393
Looking great.

[2015-08-11 03:43] #400 closed

[2015-08-11 03:44] woodsaj opened #404 "disabled checks still running"
checks that are disabled are still being executed on collectors.

[2015-08-11 03:53] #404 closed

[2015-08-11 14:34] Dieterbe opened #406 "socketio api should drop bad metrics"
such as when `b.OrgId == 0`
and inc a statsd counter.

probably a lot more validation needs to happen.

let's do this *after* we merge the nsq related refactorings.

[2015-08-11 15:31] nopzor1200 commented on #396
I think it's interesting to be able to do this "on demand" and focus on that use case initially.

Later we can decide to trigger either automatically (with an alert), or periodically, or whatever we want, for certain clients.

Agreed re: cost recovery, but that's a larger issue we're dealing with atm :)

[2015-08-11 15:39] nopzor1200 commented on #399
We discussed the next round of dashboard changes last week in NYC, I'm working on getting these done:

1. remove row titles and switch back to panel titles (usability)

2. only show errors on the status bar (rename status to errors) -- I like what @dieterbe did to break down the errors by probe on the error bar -- will try to roll forward with this -- very useful when asking yourself WHERE these e

[2015-08-11 15:42] nopzor1200 commented on #178
Looks good @mattttt, would love to see an initial iteration of this up there.

[2015-08-11 15:48] mattttt commented on #178
Yep, trying to bang out a few other outstanding items and then move back to this.

[2015-08-11 16:09] Dieterbe commented on #399
why? ok's seem very useful for context / better overall picture.

[2015-08-11 16:24] nopzor1200 commented on #399
Yeah I kind of agree with you. It's a lessor of two evils thing. Matt and I talked about this a bunch.

So, if you show OKs the errors get crowded out. That's why we went to log scale for errors. We no longer have "space contention" if we just show the errors. With log scale though, you dont see nice linear distributions (obviously) when you start to fail around the world. Plus the all green can b

[2015-08-11 16:33] mattttt commented on #309
Waiting on @ctdk to updated dev-portal and see if this issue still exists.

[2015-08-11 16:45] Dieterbe commented on #399
can you clarify this a bit more. i want to understand what you mean. if you start to fail around the world the red should increase until it's all red, right?

yes that would be hard to make sense out of.

ok great. i think #398 would be really nice for that.

[2015-08-12 01:38] nchristus commented on #393
@mattttt I just pushed some updates to branch 'nchristus-alert-status-endpoint-summary'.

Would you mind taking a look at how the 'Ping' row is working before I roll it out to the other rows (lots of markup to change)?

[2015-08-12 01:41] mattttt commented on #393
@nchristus Sure, standby

[2015-08-12 01:52] mattttt commented on #393
@nchristus I think it looks pretty fantastic. Just one small things - when the sidebar is open, it's got a weird breakpoint.

So instead of this:
<img width="788" alt="raintank_-_new_dashboard" src="https://cloud.githubusercontent.com/assets/2886187/9215025/30587bc0-4073-11e5-87ca-348bb1b1e796.png">

It should be this (with alerts on a single line):
<img width="652" alt="raintank_-_new_dashboard"

[2015-08-12 02:42] nchristus commented on #393
@mattttt Ah, good catch! Just pushed a fix. Let me know how it looks now.

[2015-08-12 02:44] mattttt commented on #393
@nchristus Just tested, works great. Go ahead and roll out to the rest. Thanks!

[2015-08-12 02:49] mattttt commented on #178
Merging into master to do some user testing. It looks like this right now.

<img width="1199" alt="screenshot 2015-08-11 22 48 37" src="https://cloud.githubusercontent.com/assets/2886187/9215635/299b3f54-407b-11e5-9199-b7553a73ba48.png">

Known issues:

1. Non-retina screens, the check mark icon is too thin. @bulletfactory needs to address this.

2. At 1010px wide with sidemenu open, and 814px wid

[2015-08-12 03:19] nchristus commented on #393
Great, new update pushed. Rolled out to remaining rows. Looking great.

[2015-08-12 15:41] mattttt commented on #315
talked to @woodsaj today and he said he could bang this out pretty quickly.

[2015-08-12 15:42] mattttt commented on #393
Talked to @woodsaj this morning and wiring it up to the controller should be pretty straightforward. He said it would take him ~30m, and would likely take me the better part of a day, so I'll elect he do it.

[2015-08-12 17:55] ctdk commented on #248
@Dieterbe is there anything left here to keep this issue open?

[2015-08-12 21:07] Dieterbe commented on #248
I think we can consider this pretty much done
* that said it would be nice if we were made aware when a profile is dumped so we can inspect it, but it's not a must. i guess do it if it's simple to do, otherwise don't worry too much about it.
* as for capping collector-controller memory that is part of https://github.com/raintank/raintank-metric/issues/11 now

[2015-08-13 04:19] woodsaj commented on #315
wired up.  I also merged master into this branch so it should be ready to merge back into master if you are happy with it.

[2015-08-13 04:46] woodsaj commented on #393
wired up, also merged master into this branch so that it is ready to merge back into master when you are happy with it.

[2015-08-13 04:48] woodsaj commented on #309
this should be in dev portal now, and probably also prod.

[2015-08-13 04:48] woodsaj commented on #305
anything i can do to help here?

[2015-08-13 04:50] woodsaj commented on #303
so what is the next step here?

[2015-08-13 12:40] mattttt commented on #309
Looks solid. Closing.

[2015-08-13 12:40] #309 closed

[2015-08-13 12:41] mattttt commented on #305
Passed along to a contractor to eval. Expect to here back today'ish.

[2015-08-13 13:32] Dieterbe commented on #230
other things to keep in mind:
* litmus user monitoring settings are stored somehow (currently grafana db) and get converted into expressions for bosun
* litmus alerting handler currently uses bus to query database for jobs, store results, send notification emails, load/set offset, publish monitor health metrics, ... this is the main code infrastructure it's currently tangled into.  it also uses so

[2015-08-13 22:09] mattttt opened #411 "Tag click no long triggering drop-up"
When clicking on a tag in the endpoint list, it now takes you to the endpoint summary instead of the dropup functionality to filter.

![screenshot 2015-08-13 18 08 15](https://cloud.githubusercontent.com/assets/2886187/9262872/5ea2a7b6-41e6-11e5-842e-4be04e0d7569.png)

This was likely introduced when we made the entire endpoint row clickable.

[2015-08-14 00:39] ctdk commented on #396
Seems reasonable to me. Pingdom provides that very function, actually, and I often found it useful as a way to tell what the problem was, be it firewall mishap, some problem between the monitor and the Internap servers, or something going horribly wrong trying to get into Internap.

[2015-08-14 01:30] mattttt commented on #315
This is looking great, but one thing. In the case of NODATA, the loading animation will just run forever, even though there aren't any events to come through, right?

![events-loading](https://cloud.githubusercontent.com/assets/2886187/9265537/6f9a1ef2-4202-11e5-8fa9-a22c2a8e5ce9.gif)

Once thats put in place, I'd say we can go ahead and merge into master. L

[2015-08-14 01:32] mattttt commented on #411
Talked to @nchristus earlier today, he's going to take a look at fixing this when he has some spare cycles (ideally this week sometime)

[2015-08-14 01:41] mattttt commented on #393
This is coming together, a few more tweaks:

<img width="1062" alt="raintank" src="https://cloud.githubusercontent.com/assets/2886187/9265618/d894a2be-4203-11e5-9412-3642adabb4b3.png">

1. Move the "configure now" line to the right a it, so it matches indentation of the other sections.
2. Add a tooltip and a link to the "Enabled"
3. Fix these swapped icons on the right
4. Add a tooltip with email

[2015-08-14 02:20] nchristus commented on #393
@mattttt pushed up an update for issues 1, 3, and 4.

Would you provide a little more info/direction for issue 2?

[2015-08-14 02:21] nchristus commented on #411
Pushed up a fix to branch nchristus-tag-click-drop-up.

[2015-08-14 02:38] mattttt commented on #393
@nchristus You're a beast! #2 I can take care of tomorrow. I have to give that one a little thought still.

[2015-08-14 02:45] mattttt commented on #411
@nchristus Strangely, sometimes ill see the drop-up for a split second, but it's still not working here. Cleared cache, rebuilt everything, etc.

I tried to take an animated gif of it, but it was too quick to appear in the frame:
![tag-clicks](https://cloud.githubusercontent.com/assets/2886187/9266287/f98cb110-420c-11e5-9186-4ecde7d9effd.gif)

[2015-08-14 02:48] mattttt commented on #411
@nchristus I was able to capture it in the gif this time:

![tag-clicks](https://cloud.githubusercontent.com/assets/2886187/9266326/5fa79d5c-420d-11e5-85b9-aba116a9642b.gif)

[2015-08-14 02:53] nchristus commented on #411
@mattttt a-ha! so, i fixed the dropdown menu on the very right (the three little dots). it also was not functioning correctly and would take you straight to the summary.

now on to the tags! :)

[2015-08-14 03:02] mattttt commented on #305
@nchristus just fixed this in https://github.com/raintank/grafana/issues/411
Closing.

[2015-08-14 03:02] #305 closed

[2015-08-14 03:03] mattttt commented on #411
The issue that Nick fixed is issue https://github.com/raintank/grafana/issues/305, now closed. awesome! I thought it was JS related (it was introduced right after some other js work, and assumed it was related)

[2015-08-14 03:13] nchristus commented on #411
@mattttt I was able to solve that first issue by simply rearranging the markup. The tag list however, is a different beast.

The root cause is the ng-click directive here:
https://github.com/raintank/grafana/blob/nchristus-tag-click-drop-up/public/plugins/raintank/features/partials/endpoints.html#L84

Both the ng-click and tag drop up clicks are firing simultaneously and being handled by the js al

[2015-08-14 03:16] nchristus commented on #411
It also appears that the tag drop up is a Bootstrap component, which may complicate it further.

[2015-08-14 08:52] Dieterbe opened #412 "default dashboard assumes litmus hosted by raintank inc"
default page when logging in first time mentions "join early access program", this is a raintank inc specific thing. remember that people can run the raintank platform (with litmus) themselves in which case this doesn't make sense.

[2015-08-14 08:53] Dieterbe opened #413 "typo in alerting configuration"
should be separated.

[2015-08-14 18:48] mattttt opened #414 "Add Endpoint"
On the Add Endpoint screen, define what an endpoint is.

[2015-08-17 06:52] woodsaj commented on #315
the issue here was simple that the animation ran forever when the graphite query failed.  This is now resolved.

[2015-08-17 08:31] woodsaj commented on #376
@mattttt want me to take care of this. I am pretty sure it is a JS issue in the controller.

[2015-08-17 08:37] woodsaj opened #415 "move raintank email notifications to own directory"
The email notifications used by raintank are significantly different from upstream grafana.  Keeping them in the same location is a pain for merges.

all templates should be moved into their own directory.  `public/plugins/raintank/emails` would probably make sense.

[2015-08-17 16:00] mattttt commented on #315
Excellent, closing ticket. Thanks Anthony.

[2015-08-17 16:00] #315 closed

[2015-08-17 16:01] mattttt commented on #415
@woodsaj Is this something I can do myself, or is there backend changes to support it as well? At the very least, I'll go ahead and relocate the directories.

[2015-08-17 17:10] #178 closed

[2015-08-17 20:38] mattttt commented on #301
@nopzor1200 What say you? I'd like to close this oout.

[2015-08-17 22:43] mattttt commented on #393
Ok, this is in solid shape - just one more small tweak before we can deploy. I need to add in a message that says "No recipients specified".

![screenshot 2015-08-17 18 33 19](https://cloud.githubusercontent.com/assets/2886187/9318238/d87c7978-450f-11e5-802f-44f82f2e0237.png)

Also I'd like to remove the brackets an quotes from the array:
![screenshot 2015-08-17 18 31 56](https://cloud.githubuserc

[2015-08-17 22:44] mattttt commented on #393
@woodsaj I putzed around with it for a bit today, but didnt put the time into figuring it out. Is this super easy for you?

[2015-08-18 07:36] woodsaj commented on #415
I am happy to make the change if you want, I just really wanted to make sure there were no in-progess issues that were modifying the templates.

 Will also need to get @ct involved as well for when we deploy the change as we would need to update the templates path in the grafana config
[code]

[2015-08-18 08:11] woodsaj commented on #393
for these type of formatting issues, it is easiest to just create a scope function to process the data and return it how you want, which is what i have done.

The getNotificationEmailsAsString() function gets the array of email address from getNotificationEmails() if the list is empty, returns "no recipients specified". otherwise it iterates through the list to check if the email is in the format

[2015-08-18 14:44] mattttt commented on #376
@woodsaj Yes please - I took a look but dont know how to address.

[2015-08-18 15:40] mattttt commented on #414
Adjusted the New Endpoint flow to make things a bit clearer. Committing in branch `new-endpoint-improvements`

[2015-08-18 15:40] #414 closed

[2015-08-18 17:08] woodsaj commented on #376
this should be fixed by: https://github.com/raintank/grafana/pull/417

[2015-08-18 19:26] #393 closed

[2015-08-19 19:36] Dieterbe commented on #399
@nopzor1200 ^^

[2015-08-19 19:44] Dieterbe opened #422 ""dashboards" link a bit confusing"
when you hit the dashboards link in upper left, you go to the main page. the main page explains what litmus is, it encourages you to use litmus features, and also links to a few of the dashboards.
overall the page is not really about dashboards and i find it confusing
![dashboards-confusing](https://cloud.githubusercontent.com/assets/20774/9367004/0434bc22-46bb-11e5-80eb-1bc5018c7302.png)

when I

[2015-08-19 20:34] mattttt commented on #422
These screenshots are old, but you bring up a good point, regardless.

We have some ideas about this that I want to flesh out; more to come here.

[2015-08-19 22:41] mattttt opened #423 "New Collector Page"
Formal writeup to come, but here is a first pass at the New Collector screen.

![newcollector](https://cloud.githubusercontent.com/assets/2886187/9370881/ce548ccc-46a1-11e5-8355-5d85ea465d5b.png)

[2015-08-19 22:42] mattttt commented on #423
The directions need to be rewritten to be clearer/work, so consider some of this placeholder. I took it from the github readme.md on raintank-collector.

[2015-08-20 03:53] woodsaj commented on #423
I think we need to create the collector (give the collector a name and submit it to the backend) as step1.  This ensures that the collector name is not already in use.
We can then show the config that should be used and the "Verify" step can just wait for the collector state to transition to "online".

[2015-08-20 04:12] mattttt commented on #423
How does that work with the API?

[2015-08-20 05:19] woodsaj commented on #423
?? i am not sure what you are asking.

All actions are performed via the API.

When a collector connects to the backend, we check to see if it already exists and if not, we create it.
This simplifies the deployment of collectors but also introduces problems.

Eg, if a collector.name in the collector config is entered incorrectly, the collector will still start up normally, and will just create a n

[2015-08-20 07:40] Dieterbe commented on #423
we might want to mention you need node and npm for this to work as well.
though all that will change too.

[2015-08-20 08:41] Dieterbe commented on #422
matt pointed out that i'm using an older version, and this has changed a bit lately:
![better-home](https://cloud.githubusercontent.com/assets/20774/9378781/6ce94eea-4724-11e5-9e2b-bcd7fd2303dc.png)

so now it makes more sense, i hit dashboards and i get a list of dashboards.. but also a bunch of other stuff. i still think there's too much of an impedance mismatch.
I think it's great to have a "ho

[2015-08-20 08:43] woodsaj commented on #423
i wouldnt worry about installation.  most likely we will just provide a install script that the user can download and run

`curl https://raintank.io/install_collector.sh | sudo bash`

[2015-08-20 14:28] mattttt commented on #423
@woodsaj

Ah, makes more sense now. I was wrestling with the fact that specifying a collector name in the interface isnt actually required, and could be bypassed by just spinning up a new collector. But if we do away with that functionality, it makes more sense.

[2015-08-20 14:54] mattttt commented on #422
Yep, our conversation yesterday went the exact same way, eventually thinking that we'll want to introduce a Home page that can best summarize the info you need to see.

This is something we should discuss with Torkel, as it's super useful when you start adding integrations on top of Grafana, but at the moment, isnt really needed.

[2015-08-20 18:20] mattttt commented on #304
This appears to be fixed. Closing.

[2015-08-20 18:20] #304 closed

[2015-08-21 18:28] ctdk commented on #248
I'll close this out then. I'll see what I can do to turn up a way to be alerted if something shows up in the profile directory.

[2015-08-21 18:28] #248 closed

[2015-08-23 19:15] Dieterbe opened #424 "optimize serialization of metrics"
i don't think this is high priority and shouldn't delay our NSQ release, though we should address high cpu usage + high data footprint at some point.

so i did https://github.com/raintank/grafana/commit/25a2b51e783f5f8b8a283825c582d2f67529a123

on my computer (i7-4810MQ), go 1.4.2 I get:
[code]
--> gob only needs 68% the cpu time to serialize and 42% the cpu time to deserialize and the message is

[2015-08-23 19:59] Dieterbe commented on #424
now with messagepack 07f28c7
[code]

this is getting fast.. though a 100kB in data difference at 100Mbps is `100000/(1024*1024*1024/8)` = 8ms

[2015-08-23 20:29] Dieterbe commented on #424
the thing about protobuf though, it's pretty hardcore. you have to write a schema in their own language, and then it generates go structs that you have to use. it's pretty offputting.
i was also interested in flatbuffers since that had a bit higher serialization overhead in https://github.com/alecthomas/go_serialization_benchmarks but an extremely low deserialization time, which seems useful in ou

[2015-08-23 21:15] Dieterbe commented on #424
grafana and raintank-metric now both have a nsq-msgp branch.
https://github.com/raintank/grafana/tree/nsq-msgp
https://github.com/raintank/raintank-metric/tree/nsq-msgp

it *almost* works.. for some reason no data showing up in devstack even though the nsq_metrics_to{kairos,elasticsearch} consumers seem to be decoding it fine..
to be continued..

[2015-08-23 21:15] Dieterbe commented on #424
also curious what @woodsaj thanks.

[2015-08-24 07:03] Dieterbe commented on #424
started up devstack today, added an endpoint and now it works fine.

i've noticed this is the past as well: sometimes when firing up the devstack and adding an endpoint everything looks fine (workers process the metrics fine, all looks good) but the graphs don't load data in grafana. but if you restart the stack and try the exact same thing, it works fine again.

first time i noticed it was with t

[2015-08-24 07:48] woodsaj commented on #415
I have updated the templates in  https://chef.raintank.io/environments/development_gce/edit

[2015-08-24 07:48] #415 closed

[2015-08-24 08:56] woodsaj commented on #424
This is great.  Lets go with MessagePack for now.  I do think that protobuf will be advantageous long term as it provides better interoperability and integration.

As per https://github.com/raintank/raintank-metric/issues/19, we should only define the model in the raintank-metric library, then import that into grafana.

[2015-08-24 10:30] Dieterbe commented on #424
on it!

[2015-08-24 13:00] Dieterbe commented on #424
implemented in nsq branch.

[2015-08-24 13:00] #424 closed

[2015-08-24 20:18] mattttt commented on #423
Make some headway on a multi-step process, what do you think of this @woodsaj?

Invision prototype: https://invis.io/PA3Z0OND8

Some select images:
![newcollector2-2](https://cloud.githubusercontent.com/assets/2886187/9451277/b69da6f8-4a7b-11e5-9f0a-ec5943058558.png)
![newcollector2-3](https://cloud.githubusercontent.com/assets/2886187/9451275/b6778158-4a7b-11e5-83a2-bfb4ddeef796.png)
![newcollect

[2015-08-24 21:31] Dieterbe commented on #423
this looks sooo pretteeeehhhh

[2015-08-25 05:19] woodsaj commented on #423
This looks really good matt.

The install instructions will be much simpler then what you have there.

1) have an input field for entering the API key, with a "generate New Key" button to populate it for the user if they want to use a new key.
2) Rather then instructing the user to install then configure, we will provide a script to do both.  The command will be something along the lines of
[code]

[2015-08-25 08:44] Dieterbe opened #429 "packaging.sh: 4: packaging.sh: Bad substitution"
just observed this in circleci:
[code]

don't see anything obviously buggy in the script.
you might want $DIR in double quotes throughout the script but i don't see what's wrong with line 4.

[2015-08-25 10:09] woodsaj commented on #429
pretty sure that this is because the script is a bash script, but is called with
[code]

`/bin/sh` is a symbolic link to /bin/dash on Ubuntu.

should be called with
[code]

[2015-08-25 10:28] Dieterbe opened #430 "endpoint display broken in current master"
current master in dev stack, after adding an endpoint:
![endpoint-display](https://cloud.githubusercontent.com/assets/20774/9464506/c2df2ce4-4b24-11e5-88d0-b41dd460ce7a.png)
note the status panel obviously, but also the header/logo upper left side, the dashboard icon there is wrong too.

[2015-08-25 10:29] Dieterbe commented on #430
fwiw, no events/errors in js console, all http requests return in 200 or 304

[2015-08-25 10:32] Dieterbe commented on #430
the header is broken on every page.
![also-broken](https://cloud.githubusercontent.com/assets/20774/9464570/47440fe0-4b25-11e5-9f7f-43f60410e491.png)

[2015-08-25 11:27] #429 closed

[2015-08-25 21:37] mattttt commented on #423
Update to the New Collector - I think this is good for @nchristus to start working on.

https://invis.io/PA3Z0OND8

![newcollector2-4](https://cloud.githubusercontent.com/assets/2886187/9480116/20f147de-4b4f-11e5-9055-2ce1f34c714d.png)
![newcollector2-3-other](https://cloud.githubusercontent.com/assets/2886187/9480115/20efeef2-4b4f-11e5-88fc-0a20fcdb4077.png)

[2015-08-25 22:01] mattttt commented on #423
@nchristus Some updates to come, a little user testing showed some flaws.

[2015-08-25 22:08] mattttt commented on #423
Link has been updated, but want to make a couple other tweaks. Nothing that'll hold you back @nchristus, so go ahead and get started as planned.

[2015-08-27 07:25] Dieterbe opened #432 "link in alerting email points to incorrect protocol"
![broken-link](https://cloud.githubusercontent.com/assets/20774/9514838/9b29fd26-4c9d-11e5-9e58-ced5b5f30ad3.png)

[2015-08-27 10:36] Dieterbe opened #433 "track "dashboard experience" (load failures, data duration)"
we should track:
* any panels trouble getting the data from the backend
* how long it takes for panels to get the data they need, and also for annotations.

ideally, the metrics should be separated by how long ago are they querying, and how long is the period.
but not a super high accuracy to keep the metrics space sane.  I'm thinking something like
[code]
the `xd.yd` at the end would be how many

[2015-08-27 11:06] Dieterbe commented on #125
is anything still actionable for this ticket? what needs to happen here? @mattttt

[2015-08-27 11:15] Dieterbe commented on #370
we could replace them with png's through the "render as png" feature.

I like this idea. and it's probably better. because even if we extended the notifications with more stuff, it would only overlap more with the dedicated full-featured "here's everything you need" dashboard that we would still need.

i know that a common #monitoringsucks theme is "we need more context in our alerts so that if we

[2015-08-27 12:37] Dieterbe commented on #384
Remember that currently, we use `litmus.{{.EndpointSlug}}.*.{{.MonitorTypeName | ToLower }}.error_state` as pattern.
So I think in normal operation there's a whole spectrum of volume of nulls that could appear.  Ranging from small (due to blips in collector data coming through, certain collectors going offline or removed from the check config for/by a single customer) to large such as a RT collect

[2015-08-27 12:40] Dieterbe commented on #384
this could be racey.  if you disable a monitor and we set status=unknown, but right after, an alerting job may execute that had been scheduled just before we disabled it, and overrides the current state again.
in general i would like to get rid of the warmup period, but i'm not sure if it's safe to do so, as you indicate. but i'm not going to think too much about this until after i hear back on ev

[2015-08-27 12:54] Dieterbe opened #434 "don't wait with "quota reached" message until ready to save endpoint"
new endpoint -> discover, configure -> add -> "quota reached"
should have told me that before i did all the work configuring the endpoint.

[2015-08-27 13:02] Dieterbe commented on #395
is this still an issue? @mattttt are you still seeing this?

i tried reproducing it on dev, but the 10s based checks got a status within about a minute, and the http/https that get data every 60s and need 2 steps took about 3 minutes, so it seems it works fine, though i'm not sure why and what the original issue was, so that's a bit discomforting. maybe @woodsaj knows?

also, maybe we should renam

[2015-08-27 13:09] Dieterbe opened #435 "api example should use a configurable url"
![api-example](https://cloud.githubusercontent.com/assets/20774/9521170/7492b8b2-4ccd-11e5-9ddf-037c255629ce.png)
would be nice if there was a config option for us to set the highlighted part to whatever we want so we could set it to `http://app.raintank.io`

[2015-08-27 13:12] Dieterbe commented on #435
actually, it could also put in `your_key_above` and also put something real instead of the mydash stuff, like `/api/datasources` so that you have a command you can just copy paste and run and then fine modify it

oh while i'm at it, also link to http://docs.grafana.org/reference/http_api/ from there :)

[2015-08-27 13:25] woodsaj commented on #395
i am fairly sure that this was just because alerting was turned off.  But if it is still happening we will definitely look into it.

[2015-08-27 13:27] bulletfactory commented on #423
Ah - yeah, I'll dig up some pngs w/ transparent backgrounds for this.

[2015-08-27 13:28] mattttt commented on #395
To your point @Dieterbe, took a look on dev-portal and production, on a couple different accounts, and looks great for existing accounts with enough data.

When I create a new endpoint however, that's when it rears its head. Is it possible to introduce some awareness of newly created endpoints, so when it's still collecting enough data to make a decision, we can articulate that to the user?

I thi

[2015-08-27 13:41] mattttt commented on #125
This was built and implemented in July. Stale ticket, just needs to be closed. We went with Zurb, fwiw.

Thanks!

[2015-08-27 13:41] #125 closed

[2015-08-27 13:42] mattttt commented on #275
Let me know when I should verify this again - alternately, you guys can verify directly by going to Packet's endpoint list and getting a count, then going to the endpoint template dropdown in a dashboard and manually counting.

[2015-08-27 13:42] mattttt commented on #33
I still want more formal breadcrumbs and consistency in Grafana, and then inherit that in raintank.

[2015-08-27 13:43] mattttt commented on #411
@torkelo Can you glance at this and see if you have any insight, as you've dealt with the bootstrap components for Grafana pretty extensively?

[2015-08-27 13:57] woodsaj commented on #384
I think resetting the state to 'unknown' when a monitors i disabled or alerting is disabled is the best approach.  This is also really easy to do in the code.

race conditions are definitely possible, but the only way to eliminate them is to query the DB for the monitor definition, including state and enabled flag at the time of job execution.  We have avoided doing this as the query is quite expe

[2015-08-27 14:25] mattttt commented on #198
Ron has a pull request for this fix, need to test it and get back to him.

[2015-08-27 15:01] Dieterbe commented on #395
i'm pretty sure there is a ticket somewhere discussing optimizing the wording a bit of that monitor status in the UI but couldn't find it. we also spoke about it with Raj in NYC (well. def me and Raj) and pretty sure the main outcome there was we need to find a way that if unknown, we can tell the user if it's because of something they did and should fix, or whether it's because we're experiencing

[2015-08-27 16:15] Dieterbe commented on #384
no we currently query for `*`. i suggested moving **to** the {foo,bar} pattern. but then retracted that idea.

not sure about your graphite-kairos-level filtering idea. on one hand it reduces amount of nulls returned (but what's the value of that?) but it does break the graphite api contract and it hides information that we might find useful at some point (though not sure what that use case would

[2015-08-27 16:47] woodsaj commented on #384
I am not sure it breaks the graphite contract.  Without filtering stale series, graphite would continue to serve null values for series that are no longer in use.  The alternative is for us to delete the data when series stop being received, but that is far worse as you then would not be able to query time ranges from when the data was being collected.

The benefit that it gives is that graphite w

[2015-08-27 18:16] torkelo commented on #435
should this issue not be in upstream grafana? :)

I like the improvements, should be pretty quickly done.

[2015-08-27 20:14] Dieterbe commented on #435
yeah i know, should've gone there. but now that it's here, doesn't seem worth it to move it :p

[2015-08-27 20:22] Dieterbe commented on #384
yes that's exactly how graphite normally behaves. often to the dismay of the user, i also don't think it's formally specified anywhere. but it is what it is.

far worse indeed

[2015-08-28 09:11] #432 closed

[2015-08-28 10:54] woodsaj commented on #395
I think changing the wording from "No Data" to "Insufficient Data" would go a long way.

Without extending the data model to track additional state change information, we could easily enough display a different message (perhaps, "pending") if state is unknown AND update_time is recent.  This is not a perfect solution, but i would argue that it is good enough.

[2015-08-30 12:07] woodsaj commented on #395
affirmative.

[2015-08-31 05:04] Dieterbe commented on #433
if the clientside js code can post the metrics back to the grafana backend, we can submit them from there through statsd.
alternatively, we can also implement this in graphite-api probably. but in grafana seems nicer because it works with any datasource and gives a true-er insight.

[2015-08-31 05:04] Dieterbe commented on #433
@torkelo @woodsaj

[2015-08-31 06:29] torkelo commented on #433
Yes, this is absolutist something we need. I would implement this in a generic way for the frontend to take measurements (timings), that are sent to the backend, that are then sent to statsd with a very long interval (like a minute or more) so we can get very good percentiles.

Frontend timing measurements are going to vary by orders of magnitude so it is very important to have something like stat

[2015-08-31 08:10] Dieterbe commented on #230
@torkelo i think all of this depends a lot on how you think plugins should be implemented in grafana. can you start thinking about the stuff above, and maybe the best way to make progress on this is do a hangout together, where we sketch out a design, and go over the current alerting code to see how we would refactor that using the plugin system.

[2015-08-31 08:15] Dieterbe commented on #433
problem is statsd, statsdaemon, dogstasd just use 1 interval that gets applied to all incoming metrics. currently this is set to 10s. we could also use go-metrics to maintain long running weighted percentiles and get those metrics via expvar. anyway i'll gladly take care of the backend if somebody can do the frontend.

[2015-08-31 08:28] torkelo commented on #433
I can do the frontend
https://github.com/grafana/grafana/issues/2624

[2015-08-31 08:39] Dieterbe commented on #375
@torkelo i think you mistakenly posted your comment in the wrong ticket.
@woodsaj i can update the nsq branches to also submit alerting state changes into ES. the only thing is i'm not quite sure on the format. can you help me out? :
[code]

[2015-08-31 08:39] woodsaj commented on #384
ok lets do the following.

1. reset the state of a monitor to unknown when creating/enabling/disabling
   We have discussed that there might be race conditions with this, but i am not sure there are.  Any jobs that are queued before we reset the state will not be able to change the state due to the update command limiting the update using the state_change column.
https://github.com/raintank/grafan

[2015-08-31 10:12] Dieterbe commented on #384
ok so **conclusions reached + some notes for posterity**
* no alerts if state becomes unknown
* reset monitor state to unknown when creating/enabling/disabling: the first two are generally sane, the latter assures if a check was in an error state, and i decided that i didnt want to monitor anymore, the error disappears immediately
* you were right, state_change prevents races. i forgot about that

[2015-08-31 10:44] torkelo commented on #19
There doesnt appear to be any concrete idea/mockup for this issue. Just links to a few navigation related grafana issues. Maybe we should try to identify a few concrete things and turn them into issues?

[2015-08-31 10:46] torkelo commented on #370
I think having a png in an alert email to be quite useful

[2015-08-31 11:32] woodsaj commented on #384
I still personally like to get all state changes.  If a check has been disabled, and then i enable it, i would want to get a OK notification so that i can be certain that everything is working.

Perhaps we could make "OK" notifications optional via the notification settings?

[2015-08-31 11:43] woodsaj commented on #230
I would like to be involved in any discussion on this.

splitting the raintank code into a separate isolated repository is moving up the priority list.

[2015-08-31 12:00] torkelo commented on #230
I think before we know what it would take copy any of the raintaink alerting code to grafana we need to start working on alerting in grafana from the UI and domain model perspective. When we get to scheduling and query execution we can see how we can utilize what has been written and what modifications are required.

Does this makes sense?

This it could go like this
1) Start working on frontend a

[2015-08-31 12:22] torkelo commented on #411
since the outer element has a ng-click that takes you to the endpoint page the tag element must have a ng-click that stops the event propagation so that the outer element never gets the click.

This is how I solved a simiar issue in search where each search hit row is a anchor , but it contains tags, if you click the tag it executes this (via ng-click on the tag)

[code]

in the ng-click there is

[2015-08-31 12:22] Dieterbe commented on #384
note that i was specifically talking about the case where it was unknown due to internal issues within litmus, not after disable+re-enable

[2015-08-31 12:23] torkelo commented on #381
opened issue in grafana for this, https://github.com/grafana/grafana/issues/2626

[2015-08-31 12:26] torkelo commented on #319
https://github.com/grafana/grafana/issues/2353 is pretty much done, waiting for feedback on the final signup flow.

But the first part (org admins can now invite new users) seems to be in production already

[2015-08-31 12:46] Dieterbe commented on #230
I think the UI work will take quite a while to take shape.
we already have a pretty good idea of how things will look frontend wise (rules in the dashboard json)
so I think we can start working on the backend as well, i.e. your 2 and 3 which includes pluginizing the litmus handler.
If we have the resources to work on both (2-3 and 1) at the same time, I think we should.  And I definitely have the

[2015-08-31 12:50] torkelo commented on #230
@Dieterbe you could start working on building an alerting domain model / cached index , based on json in each panel in the dasboards. This will require quite a bit of backend code I think (to keep up to date and synced across grafana-servers)

Each dashboards's panel will be able to have an alerting rule definition. But in order to make alerting overview pages and for the scheduler or api to list

[2015-08-31 13:26] Dieterbe opened #436 "monitor health: unknown -> very brief ok -> critical, when should have been unknown->critical"
http check every 60s, disable it. set content match to something absurd.
enable http check.
will transition from unknown to ok and be in ok for less than a minute it seems, then change to critical

[2015-08-31 13:47] Dieterbe commented on #384
i just pushed the fixes to the nsq branch (not to master cause i had weird issues in raintank-docker with everything on master, even after rebuilding all images).
eaed6dac14b385d612a9a300a4fcde5ce34807f8
6547074ec5032714eb01dc387de5e04214963e5d
b4ce0765f73f6bea651b3a2053f1b09e19a1e760

i'm going to close this out. if the unknown->ok ever becomes an issue after a litmus outage, we'll find out..

[2015-08-31 13:47] #384 closed

[2015-08-31 14:02] woodsaj commented on #375
https://github.com/raintank/raintank-collector/blob/metric-schema/serviceManager.js#L254-L269

[2015-08-31 16:00] woodsaj commented on #436
How long did you leave the check disabled?
When you re-enabled the check, the alerting jobs started checking points from 30seconds ago.

[2015-08-31 16:01] Dieterbe commented on #436
i think like a minute or so. anyway i'll try to repro and see if it was PEBKAC or legit bug.

[2015-08-31 16:29] woodsaj commented on #395
![image](https://cloud.githubusercontent.com/assets/8415072/9583911/655baf22-5040-11e5-9ebc-80e8153dafe0.png)

How does this look to you @mattttt

[2015-08-31 17:14] mattttt commented on #395
@woodsaj Works for me.

[2015-08-31 17:59] #395 closed

[2015-09-01 03:22] mattttt commented on #19
Agreed - I'm going to close out this ticket and create some tickets on the grafana side. It feels like a much larger issue of navigation between groups of dashboards (I know I sound like a broken record at this point). Litmus is *an* example of a group of dashboards, but it's just as appropriate for any organization that has a Summary -> Detail 1 -> Sub-detail 1 situation.

[2015-09-01 04:13] nopzor1200 commented on #399
Planning on doing an initial version of what Matt and I have discussed in the next 1-2 days. Get it up on dev-portal, so we can discuss further.

[2015-09-01 04:50] nopzor1200 commented on #399
Yes, but especially without a scale, the log distribution looks kind of weird. I think the log distribution was originally introduced to make the errors "pop" more against the green ok count. With the green ok count removed, having the Y axis linear and "autoscale" shows a perfect distribution of errors; no need for log scale anymore.

At least that's the thought.

agreed. going to break out error

[2015-09-01 12:23] Dieterbe commented on #230
step 1 needs https://github.com/grafana/grafana/issues/2643

[2015-09-01 13:49] Dieterbe commented on #436
this was my mistake. i had updated the content match too late and it was checking the earlier data where it didn't have the failing content match yet.

[2015-09-01 13:49] #436 closed

[2015-09-01 20:10] mattttt opened #440 "extend ng-click links to include ng-href"
Currently, you are not able to open ng-click links in new tabs or windows, because the browser does not interpret them as proper links. This can be easily fixed by including ng-href in the link:
https://stackoverflow.com/questions/23069481/how-to-allow-open-in-a-new-tab-when-using-ng-click

[2015-09-01 21:28] mattttt opened #442 "Make endpoint list (endpoints.html) default page"
When loading app.raintank.io, make the default route endpoints.html instead of the home dashboard.

[2015-09-01 21:34] mattttt commented on #442
If we want to hack up Grafana for the time being, we can make a couple changes in `/public/app/routes/all.js` and specify:

[code]

and then change the side menu Dashboard link to go to `/dashboard/` instead of `/`

I tried making the changes within the raintank routes (hoping it would override the defaults), but it does not.

I know this is a super hacky way to approach it, so what would be the b

[2015-09-01 22:52] nopzor1200 commented on #399
Initial ping dashboard redo available in dev-portal under Ping.2

[2015-09-02 10:05] Dieterbe commented on #399
did you make that dash in an org that i can't see? because i see no ping 2 dash in the main org.

[2015-09-02 15:48] woodsaj commented on #433
This is really great as it will also allow us to store more customer-experience metrics as well.

[2015-09-03 16:35] nopzor1200 commented on #399
Having some problems testing these dashboards in production... it seems that every time I add a removeAbovePercentile it breaks.

@dieterbe if you're curious to see some of the changes (still working on it, some broken), under the Raintank Master Account on prod:

https://app.raintank.io/dashboard/db/lp2

[2015-09-03 20:34] mattttt commented on #442
@woodsaj Can we at least redirect people to `https://app.raintank.io/endpoints` on login?

[2015-09-03 23:27] mattttt opened #443 "Org Settings - Not saving (Address fields)"
Org name is able to be updated, but the address lines are not. See gif:

![org-update](https://cloud.githubusercontent.com/assets/2886187/9673387/c193e75e-5271-11e5-8670-9de6ca968555.gif)

[2015-09-04 03:34] woodsaj commented on #442
not really.  After login users are redirected to the last page they tried to load.  This is almost always "/".

[2015-09-04 03:40] woodsaj commented on #443
This is an upstream bug. it should be opened there.

https://github.com/grafana/grafana/issues/2672

[2015-09-04 03:40] #443 closed

[2015-09-04 10:43] woodsaj opened #445 "refactor events panel to work with new event schema"
the schema for events have been updated to use an array of strings as tags. The old schema used a dict.

new format.
[code]

[2015-09-04 11:37] #445 closed

[2015-09-05 01:31] mattttt commented on #423
This is in a good spot from @nchristus, just waiting on images from @bulletfactory and the script from @woodsaj.

@woodsaj If you arent able to write the script for the moment, should we launch with the directions on the github page, and then add in the additional functionality shortly thereafter?

nick's branch is: https://github.com/raintank/grafana/tree/nchristus-new-collector-page

[2015-09-05 15:54] mattttt opened #448 "Collector Dashboard - aliasbyNode incorrect"
Reported by jclee on public slack:

[code]

<img width="545" alt="screen shot 2015-09-04 at 10 41 58 pm" src="https://cloud.githubusercontent.com/assets/2886187/9700063/ca404ede-53c4-11e5-8dec-f1ae4259b636.png">

[2015-09-05 15:55] mattttt commented on #448
Fixed in PR https://github.com/raintank/grafana/pull/449

<img width="558" alt="screenshot 2015-09-05 11 54 48" src="https://cloud.githubusercontent.com/assets/2886187/9700073/0da99068-53c5-11e5-8b84-c8ced7ebeee6.png">

[2015-09-05 16:08] Dieterbe opened #450 "alert email points to bad endpoint dashboard"
I got an email
[code]

with a link to https://app.raintank.io/dashboard/file/rt-endpoint-web.json?var-endpoint=metrics20_org-_bad_80&var-protocol=http

which has no data.

metrics20_org does have data, so maybe this is related to #380

[2015-09-07 10:01] Dieterbe opened #451 "api endpoint PUT results in runtime error: integer divide by zero"
PUT to `/api/endpoints` with body:
[code]
response status `500 Internal Server Error`
response BODY:
[code]

[2015-09-07 10:08] woodsaj commented on #423
Lest just go with the Instructions on the Readme.md for now.
https://github.com/raintank/raintank-collector/blob/master/README.md

[2015-09-07 10:09] Dieterbe commented on #451
looks like the input is not properly validated, the frequency 0 slips through and causes the panic.

[2015-09-07 10:12] Dieterbe opened #452 "api endpoint PUT results in lock wait timeout"
PUT to `/api/endpoints` with body:
[code]
response status `500 Internal Server Error`
response BODY:
[code]

[2015-09-07 15:02] woodsaj opened #454 "email parsing, email validation"
The addresses configured for alerting need to be validated on entry.
Additionally, the alerting module needs to not send emails to empty addresses.

https://github.com/raintank/ops/issues/108

[2015-09-07 15:17] mattttt commented on #423
:+1:

[2015-09-07 15:18] woodsaj opened #455 "alert emails not being sent."
[code]

[2015-09-07 16:25] woodsaj commented on #455
This was due to the grafana conf having the wrong templates dir set, so the SendEmailCommandHandler  couldnt fins the alert_emails template.

Opened https://github.com/grafana/grafana/issues/2690 to improve the error handling here so that we dont end up with a panic

[2015-09-07 16:25] #455 closed

[2015-09-07 21:04] Dieterbe commented on #399
something's up with the hover. like for the 2 last error bars i get the exact same popup.
clearly the last error bar should have different info.
![huh](https://cloud.githubusercontent.com/assets/20774/9722779/aa9b10c4-55bc-11e5-827d-d26e9d780e3f.png)
overall i'm still skeptical. this is errors per what? like if it says 2 errors, over what timeframe is that? also the fact that the popups have a tim

[2015-09-07 21:33] #448 closed

[2015-09-07 22:38] mattttt commented on #423
Updated the instructions to match the instructions.

Currently working on:
(1) Now that we're only supporting one set of instructions for the moment, back out the functionality to choose between the two.
(2) Add in a check for user permissions for (a) adding new collector and (b) generating new API key

[2015-09-08 07:58] woodsaj commented on #452
I originally assumed that this issue was due to the endpoint being added in a transaction and the monitors being added in separate transactions.  but that is not the case.

A transaction is created for adding the endpoint and the same transaction is used for adding each of the monitors.

The only way this error could be raised is if another transaction has locked the table, and it takes too long t

[2015-09-08 08:04] woodsaj commented on #451
input validation is a problem that has not been addressed yet.  https://github.com/go-validator/validator looks like a good solution.

[2015-09-08 08:06] woodsaj commented on #451
will start fixing this in upstream grafana, then once that is merged, do the same for Raintank API methods.

https://github.com/grafana/grafana/issues/2695

[2015-09-08 12:12] Dieterbe commented on #450
i should also note that this is quite annoying and makes me unable to look into what happened for the alerting emails i'm getting.

[2015-09-09 06:30] woodsaj commented on #451
The macron.binding interface already allows for setting validation rules. However, it currently does not work with slices of structs, which is the use case here.

I have opened an issue with macaron-contrib/binding for this, and submitted a PR that addresses the issue.
https://github.com/macaron-contrib/binding/issues/2

[2015-09-09 07:57] Dieterbe opened #456 "alert emails from dev point to prod"
emails from dev-hallo@ have a link to http://app.raintank.io
not sure if a bug in grafana or a mis configuration in dev?
@woodsaj @ctdk

[2015-09-09 08:04] Dieterbe commented on #399
i'm also not too happy with the current log scale.
![logscale](https://cloud.githubusercontent.com/assets/20774/9756335/197ae52a-56e2-11e5-9dec-a1a92ee17613.png)
this looks a lot worse than it really is.
@torkelo is it possible that log scale is buggy? when i copy the dashboard, open the graph and go to the left-Y axis settings, when i select linear it looks like what you expect (a few errors very

[2015-09-09 08:38] Dieterbe commented on #399
i think we should have a list that has all goals for error viz. here's a start:

1. give a global indication of how good/bad you're doing. i.e. it should be obvious at a glance if there's about 50% errors or 1% errors around any given time without hoovering and ideally without looking at y-axis scales
2. if there's very few, but at least some, errors make sure they show up somehow.
3. it would be

[2015-09-09 11:15] Dieterbe opened #457 "metric messages too big"
nsqd max message size is 10M.
any message larger than that will not be accepted.
i have an alert that fires when we reach 5M messages, which happened today.
also nsqd emits errors like
[code]

[2015-09-09 13:05] Dieterbe opened #458 "flapping detection and alert surpression"
1) people can shoot themselves in the foot:
any alerting setting that is just around the "sweet spot" (henceforth referred to as "sour spot") of what your data dances around, can cause a lot of alert notifications. basically constantly flipping between critical and ok because at each point in time the data changed enough to be considered as critical or ok. ("flapping" as per nagios)
our current de

[2015-09-09 13:22] Dieterbe commented on #458
some thoughts/requirements/ideas

* treat flapping as a critical state, or at least warning so that if we just decided not to send any more alerts, but then the situation gets really bad, the user doesn't miss out on the news he should look into his stuff (ideally though, if the situation gets really a lot worse, we should still send a notification and say "now your stuff is really bad", but this

[2015-09-09 13:43] Dieterbe commented on #458
we could of course also do like bosun, and treat an "incident" as open until someone explicitly closes an alert.  and never send alerts for already open alerts.  so we would send a notification the first time it goes from ok to critical, and even if it changes back to ok and back to critical a gazillion times and a week passes, don't send any new alerts. expect users to follow up, fix any issues,

[2015-09-09 14:10] woodsaj commented on #458
alert notifications are hard.  Rather then trying to solve this ourselves, i think it is best that we prioritize adding support for directing alerts to PagerDuty.  PagerDuty will then handle the incident tracking and should not send additional alerts when something is already broken.

[2015-09-09 14:16] mattttt commented on #458
This is all really great. As you've touched on, email is an inherently flawed notification method - as it'll never actually be representative of current state, and notifications/incidents/etc are hard. That said, we do have to handle a part of this ourselves, as we cant count on every Grafana alerting customer to have pager duty.

I've been liking the idea of digests more and more, and letting the

[2015-09-09 14:26] mattttt commented on #458
@woodsaj If we're going to rely heavily on Pagerduty or other similar services, should we be focusing more on our integrations with them?

[2015-09-09 14:29] ctdk commented on #458
@woodsaj I've done some experimentation with sending alerts through PagerDuty already, but while it works I've learned so far that it does require some finesse; if you just have the alerts emailed to PagerDuty you get an alert stating that everything's A-OK that you need to acknowledge. This can be dealt with, of course, but a tighter integration is certainly going to be better.

[2015-09-09 14:30] nopzor1200 commented on #458
I agree 110% with @woodsaj

I feel strongly that we should NOT try to handle rollups, sumarries, acknowlegement, etc etc. Instead, we should focus on being the emitter of high quality alerts (whether via email, pagerduty, sms, slack, etc etc). I know we are experiencing pain in making sure these alerts are indeed high quality (alert logic, default settings, monitoring collectors better, etc), but

[2015-09-09 16:49] ctdk commented on #456
@Dieterbe it's a hard-coded value in the email.

[2015-09-09 16:56] ctdk commented on #456
It's right here: https://github.com/raintank/grafana/blob/master/public/plugins/raintank/emails/alerting_notification.html#L46

@mattttt, do you know off the top of your head how to fix that? It seems like there's probably a config item for the hostname there.

[2015-09-09 17:18] mattttt commented on #456
Neither atm - I dont believe there was a variable that related back to instance URL. That said, looking at some of the new email templates @torkelo created, I do see {{.AppUrl}}. It may have been there the whole time and not leveraged - and I can make that change & test it.

[2015-09-10 02:44] woodsaj commented on #456
yes {{.AppUrl}} is available to all email templates.

[2015-09-10 03:35] woodsaj commented on #452
@Dieterbe i am unable o replicate this in my devstack.  If you are still seeing the issue, can you provide the mysql info requested above.

[2015-09-10 08:51] Dieterbe opened #459 "http 500 on bad request"
[code]
this is a bad request, not internal server error.

[code]
same.
see also https://github.com/grafana/grafana/issues/2686

[2015-09-10 13:25] Dieterbe commented on #452
hmm how do i go about reproducing this with curl?
i tried
[code]
but then i get `{"message":"Endpoint name not set."}`

[2015-09-10 13:42] woodsaj commented on #452
you need to set a content-type header when sending json.

[code]

[2015-09-10 13:56] Dieterbe commented on #452
yeah. can't reproduce it anymore either :(

[2015-09-11 06:57] Dieterbe opened #462 "Failed to delete endpoint: Error 1146: Table 'grafana.monitor_collector_state' doesn't exist"
after using env-load in dev stack to create 100 orgs with each 4 endpoints with each 3 monitors,
and confirming that data is flowing in, after a while, i wanted to remove all the stuff again.
(the logic for that is at https://github.com/raintank/env-load/blob/master/clean.go)

here's what it said:
[code]
grafana log:
[code]

[2015-09-11 06:59] Dieterbe commented on #462
table has been removed in e88ca9d748509d5fbf9ff0ca02dcbf8c905e99e3 but not completely
[code]

[2015-09-11 07:01] Dieterbe commented on #462
also, note that while this table doesn't exist anymore in devstack, it still exists in dev
(bug with migrations?)
[code]

[2015-09-11 07:45] #457 closed

[2015-09-12 10:09] woodsaj commented on #451
the macaron PR has been merged, so we can now address this by just updating the binding info in the Struct tags.

[2015-09-14 20:27] bulletfactory opened #463 "Cannot trigger dropdown on collector list"
Cannot use the 3 dots on the right to trigger dropdown on collector list page (view/configure/delete).

Seems to be an "overflow:hidden" issue on .rt-list-header

[2015-09-15 09:27] Dieterbe commented on #462
while the above PR fixes the use of the table, the table still exists on dev and prod.
we should sort out why and clean it up.

interestingly i couldn't even find a migration that created it in the first place

[code]

[2015-09-15 11:35] Dieterbe opened #465 "filling in alerting config for 1 monitor also does the same for the others"
steps to reproduce:

1. new endpoint
2. discover
3. expand http
4. toggle on alerting, fill in an email address
5. alerting is toggled on for ping, dns, etc with same address

is 5 to be expected? i actually appreciate the behavior but it's non-obvious from the UI

[2015-09-15 11:36] Dieterbe opened #466 "new endpoint -> abort -> unsaved changes dialog has layout issue"
![unsaved](https://cloud.githubusercontent.com/assets/20774/9875497/1a36bb86-5bb7-11e5-9e33-2b4525f00345.png)
this is in firefox on linux, if it matters

[2015-09-15 11:47] Dieterbe opened #467 "email sending: panic: interface conversion: interface is nil, not string"
this happens when trying to send an alert notification
[code]

[code]

the log.Info call shows:
[code]

[2015-09-15 12:38] woodsaj commented on #467
This is a known issue when the template being requested cant be found or is not valid.

It has already been fixed upstream
https://github.com/grafana/grafana/issues/2690

[2015-09-15 13:33] #467 closed

[2015-09-15 13:34] #456 closed

[2015-09-15 13:37] woodsaj commented on #462
This is due to all the monitor_collector_state code being removed, including the migration code which we probably should of kept.

This is not a big deal, and can be dealt with on existing deployments by just dropping the table.
created https://github.com/raintank/ops/issues/139 to handle that.

[2015-09-15 13:38] #462 closed

[2015-09-15 13:51] Dieterbe opened #468 "sign up + "almost there" -> no email being sent?"
https://github.com/raintank/raintank-docker/commit/d435d693516b039336e4177f8893c73294ed1349 enables easy email sending from dev stack (just replace user and pass)

i noticed that reset password and alert notification arrive fine to my personal email.
but when i go to sign up and go through the thing below, i don't get an email. tested with personal as well as gmail. is this expected? i was also su

[2015-09-15 13:56] woodsaj commented on #381
as noted in https://github.com/raintank/ops/issues/126 we also need to apply the access control in the endpoint discovery service

[2015-09-15 15:22] woodsaj commented on #468
is the welcome_email_on_sign_up config item set to true in your config?

[code]

[2015-09-15 16:15] bulletfactory commented on #423
Perhaps something like this? Example of both themes on left

![linux-distros](https://cloud.githubusercontent.com/assets/1950595/9882533/116a07f6-5ba3-11e5-9cc2-9fec825016f3.png)

These are all svgs on a circular div w/ @rt-light-gray bg color.

[2015-09-15 16:29] mattttt commented on #423
Looks good to me - will get the images and get this updated.

[2015-09-15 17:14] Dieterbe commented on #458
so basically we are saying if you don't use a service such as PD, i.e. you use a "simple" alert destination such as email/text/slack/... you *will* get spammed as soon as soon as your data dances around what your threshold is. because yes we can make sure that people end up with thresholds that are out of the typical error range of their data but case 2 and 3 (mostly 2) is unavoidable and sooner o

[2015-09-15 18:49] mattttt commented on #275
This is still an issue, and needs to be addressed. From Jeremy @ Packet today:

![screenshot 2015-09-15 14 48 52](https://cloud.githubusercontent.com/assets/2886187/9886543/e71a0ec2-5bb8-11e5-81ff-d3782a414350.png)

[2015-09-16 04:31] woodsaj commented on #458
yes that is pretty much what we are saying.

This is our point exactly, we could probably slap something simple together, but it wouldnt address many of the complex issues with alerting and may actually introduce new isses for certain cases.  We want to avoid delivering solutions that are not very good and we dont have the resources to tackle an advanced solution.

[2015-09-16 04:41] Dieterbe commented on #381
+ form validation

[2015-09-16 04:46] Dieterbe commented on #468
ah oops.
https://github.com/raintank/raintank-docker/blob/master/grafana-dev/conf/custom.ini#L87

[2015-09-16 04:46] #468 closed

[2015-09-16 16:29] mattttt opened #471 "Endpoint Name not updating on dashboard"
After updating an endpoint name, dashboards and endpoint pages break in different ways.

#### Steps to recreate:
In this example, I went from www.google.com to www.title-generator.com

1. Add an endpoint, enable some checks.
2. View data in dashboard.
3. Go to endpoint edit, update endpoint name.
4. Go back to dashboards. The old endpoint slug will remain in the template variables.
 - On Dashboard

[2015-09-16 17:37] whisk3y commented on #246
I am also getting this error. I compiled raintank/grafana and raintank-collector locally. I am running with just one graphite server which I have configured grafana to use before I compiled.

[code]
Collector ./etc/config.js:
[code]
config.js:
[code]

Panic from grafana:
[code]

[2015-09-18 17:04] nopzor1200 commented on #458
I think this topic can be split into three points, in order of priority:

### 1) Make Litmus "not noisy" for 99% use case by defafult

Dieter asks "if you don't use a service such as PD, i.e. you use a "simple" alert destination such as email/text/slack/... you will get spammed as soon as soon as your data dances around what your threshold is."

My answer would be sort of. You'd get spammed as soo

[2015-09-21 07:03] Dieterbe commented on #458
yes

another feature that should be implemented to make this happen, is default thresholds should be made in consideration of the data. because sure we may decide that "5 collectors" (or whatever) is a good default threshold, and it'll work for most people because they typically have significantly less errors, but people adding websites that aren't performing that well to begin with (i.e. for whom

[2015-09-22 09:46] woodsaj commented on #452
closing this.  If you see the problem again. feel free to re-open.

[2015-09-22 09:46] #452 closed

[2015-09-22 13:20] #451 closed

[2015-09-25 20:32] dahendel commented on #246
Correction. I can add a collector, when it tries to write it blows up.

[2015-09-28 17:01] ctdk commented on #246
@dahendel Do you know which version or git hash of grafana you're having this problem with?

[2015-09-28 17:04] ctdk commented on #246
@dahendel @Dieterbe I've been trying to duplicate this, but with no luck so far. Still at it.

[2015-09-29 05:25] woodsaj commented on #246
There are two separate issues here.

1).
[code]

this is due to a collector being configured with numCPUs greater then 1.  This results in multiple concurrent connections to the grafana server which are being processed concurrently.  Due to a race condition, only one of the connections succeeds in connecting and the other will fail fail due to the duplicate entry in the DB.  We need to catch this

[2015-09-29 08:37] Dieterbe commented on #246
i'll take care of number 2

[2015-09-29 21:06] mattttt opened #475 "'Looking for Collector' Animation"
For @nchristus:

On the Collector Summary page, when we're looking for collectors, we want to show an SVG animation. The SVG is transparent, and a nice color grey to work on both color themes. The main focus of this issue is to recreate the gif animation in SVG/CSS.

Here is a mockup of the animation:
![collectorastronomer](https://cloud.githubusercontent.com/assets/2886187/10178080/a41d1466-66cb-

[2015-09-29 21:53] mattttt opened #476 "Language change: Collector -> Probe"
From this point forward, Collectors are now to be referred to as Probes. This is a pretty substantial task in the backend, but not so much in the frontend.

Starting a ticket to change this in order of priority:

- [ ] Change language in the HTML (everywhere)
- [ ] Change raintank-collector repo name in github
- [ ] Change Less files and CSS class names
- [ ] Change backend (@woodsaj)

[2015-09-29 22:39] mattttt opened #477 "Endpoint List- Dashboard Panel"
stub, but to get this working:

![screenshot_2015-09-18_08 40 36](https://cloud.githubusercontent.com/assets/2886187/10180233/6d0054bc-66d9-11e5-9fdb-9d827888a1b1.png)

[2015-09-29 22:40] mattttt commented on #477
Started in: https://github.com/raintank/grafana/tree/endpoint-list-panel

[2015-10-02 06:00] woodsaj commented on #275
This will be fixed by: https://github.com/raintank/graphite-kairosdb/issues/16

[2015-10-05 10:38] torkelo opened #479 "Bug: Css issue with unsaved changes warning in Edit endpoint view"
![image](https://cloud.githubusercontent.com/assets/10999/10278493/0665064c-6b5e-11e5-84a4-fb9a78ecde7e.png)

[2015-10-05 10:55] Dieterbe opened #480 "saner num collectors in alerting rules + validation"
the alerting executors assert that graphite response must have a number of returned series >= num collectors configured for the alerting rule, which doesn't work if the number in the alerting rule is higher than how many collectors the system has, and/or in their configured footprint for the monitor. this can happen in two cases:
* users may change the number of collectors in alerting rule to some

[2015-10-05 11:10] Dieterbe commented on #479
dup of #466

[2015-10-05 11:15] #466 closed

[2015-10-10 21:48] Dieterbe opened #484 "event panel doesn't include location properly work in firefox"
![events-bug](https://cloud.githubusercontent.com/assets/20774/10413448/8927f1c8-6f98-11e5-8062-41566f2ccf1c.png)
cleared my cache, the data is in the html, but not properly visible

[2015-10-11 20:53] woodsaj opened #485 "alerting stops consuming alerting jobs from rabbitmq"
Following errors are shown in the grafana logs.
[code]

These errors are produced by https://github.com/raintank/grafana/blob/master/pkg/services/rabbitmq/publisher.go

I think the issue is due to some race conditions.  The global Publisher is used by many goroutines, so we probably need to add some synchornization locks to ensure only one goroutine can connect/create channels etc. at a time.

[2015-10-12 21:29] #485 closed

[2015-10-13 14:35] mattttt opened #490 "State change not updating in NODATA condition"
State_change not updating in NODATA condition:

<img width="797" alt="developer_tools_-_https___app_raintank_io_endpoints_summary_822_and_raintank_-_litmus_endpoint__summary" src="https://cloud.githubusercontent.com/assets/2886187/10457867/0e781002-7196-11e5-8f3c-93a1cc0e2640.png">

[2015-10-15 13:20] woodsaj commented on #364
this was resolved in
https://github.com/grafana/grafana/issues/2851

[2015-10-15 13:20] #364 closed

[2015-10-15 13:26] woodsaj opened #491 "set default DNS check frequency to 60seconds"
Hitting the authoritative DNS servers every 10seconds is causing some issues for users.

[2015-10-15 14:02] #491 closed

[2015-10-15 15:00] #490 closed

[2015-10-17 01:25] mattttt opened #494 "Make Endpoint List panel respect $endpoint variables"
Ref: https://github.com/raintank/grafana/tree/master/public/plugins/raintank/panels/raintankEndpointList

Would like to add something into this panel that will filter the list of endpoints if an $endpoint variable exists. For example:
- If no $endpoints exist, the entire list is be shown.
- If endpoint_one, then display only one in the list.
- If $endpoint_one+$endpoint_two+endpoint_three, then di

[2015-10-17 16:09] woodsaj commented on #494
Currently on tags are supported as filters when calling the endpoint list command.  So we will need to extend this functionality to the other endpoint attributes (name, slug, id)

[2015-10-17 16:34] woodsaj commented on #494
It should be noted, that this functionality will be pretty limited until templateVariable formatting becomes per panel.  At present, the format of the variables is per dashboard (regex, glob, lucene, etc..).  This means that you cant use the same template variable across panels that require a different format.  Graphite queries for example require the glob format, while this panel will require a u

[2015-10-20 18:04] Dieterbe opened #495 "why do a bunch of our graphs have a lower min of 1 instead of 0?"
i got into a very confusing situation with the devstack.
![huh](https://cloud.githubusercontent.com/assets/20774/10616480/63761bec-7733-11e5-8613-96f464b65e16.png)

the lower 2 graphs look like they don't have data, but after further investigation, it's just all their points are 0 and the graphs have a left Y min of 1

[2015-10-20 18:05] Dieterbe commented on #495
I think the json key is leftMin and so i suggest updating these values to 0:
[code]

[2015-10-20 18:06] Dieterbe commented on #495
@nopzor1200 @torkelo do you know why we have them set to 1 now? seems like 0 is the better thing

[2015-10-20 19:51] torkelo commented on #495
maybe because they are using logarithmic scales that start at 1

[2015-10-20 20:19] Dieterbe opened #496 "alerting job messages not being acked to rabbitmq?"
how to reproduce:
1) update & spin up dev stack
2) `env-load load`
3) open http://localhost:15672 -> both in main overview of queued messages, as well as individual queues the number of unacked = total messages. although the exchanges do say msg in rate = msg out rate, and alerting seems to work

[2015-10-20 20:26] Dieterbe commented on #496
![huh](https://cloud.githubusercontent.com/assets/20774/10620106/4d9e85e8-7747-11e5-9312-be00ca34e50d.png)
actually it seems like, even though the rabbit queue is being fed constantly, the workers aren't really pulling many jobs out of it

[2015-10-20 20:31] Dieterbe commented on #496
@woodsaj @ctdk any idea?

[2015-10-20 20:45] ctdk commented on #496
@Dieterbe No ideas at the moment, but I'm in there anyway so I'll take a look.

[2015-10-20 20:48] Dieterbe opened #497 "alert-executor.num metric only updates properly with builtin alerting"
can be easily evidenced in dev stack by changing
[code]
and looking at alerting dashboard, which amqp's case the "num executors" stays at 0.
quick glance at the code looks ok, both amqp and internal should be starting the right number of executors

[2015-10-20 21:15] nopzor1200 commented on #495
Because if we set it to 0 then we waste a whole tick mark between 0 and 1; for global latency measurements anything less than 1ms is generally an error anyway.

ps.. check out new dashboards search for "OCT20" in Raintank Master Account

[2015-10-20 21:16] nopzor1200 commented on #495
BTW how can you have zero latency? That can't be right? Maybe 1<x<0 I'd believe but zero would generally be an error right?

[2015-10-20 21:37] Dieterbe commented on #495
the collector is reporting 0ms latency (confirmed with nsq_metrics_to_stdout)
doesn't seem impossible. i'm monitoring localhost from localhost

for the record, i now see what you mean with wasting a tick mark:
![tickmark-waste](https://cloud.githubusercontent.com/assets/20774/10621794/eb5e203c-7750-11e5-8b1b-1204f914fbc4.png)

my scenario is probably not a common scenario, but would be nice to hav

[2015-10-20 22:50] Dieterbe commented on #496
https://github.com/raintank/raintank-docker/issues/41 might have something to do with this, though if that was only it, at least some messages should be acked to rabbit.

[2015-10-20 22:56] mattttt commented on #399
@nopzor1200 made some long-overdue dashboard changes to the detail dashboards (DNS, Ping, Web). I scrubbed them of `current` & `option` stuff, and tested in a different org (uploading the json).

**tl;dr** is (1) broke up error bar into individual collectors, (2) moved legend on some graphs to table on the right, (3) added drilldown link to event panel (4) Added outlier template variables (edited)

[2015-10-20 23:47] ctdk commented on #496
There aren't any un-acked messages in a litmus stack brought up with chef and not using env-load, fwiw.

[2015-10-21 12:24] mattttt opened #501 "Importing raintank dashboards into grafana"
Once the raintank data source is in grafana, raintank dashboards still do not work 'out of the box'. The template variables and panels must be edited indivdually to use the new raintank data source instead of the default data source.

This is a known issue, but I could not find it represented in our github anywhere. Really this should be a larger grafana issue (tying into the reservoir), but we'll

[2015-10-21 14:05] bulletfactory commented on #399
@Dieter - Matt has that book in the office - swing by and look at it with
us :)

On Tue, Oct 20, 2015 at 6:56 PM Matt <notifications@github.com> wrote:

[2015-10-21 14:13] mattttt commented on #399
All 4, as a matter of fact. A **ton** of great information and viz to flip through. I've also been to one of his seminars - smart guy, great perspective.

[2015-10-21 18:52] Dieterbe opened #502 "jobs scheduled dips"
![jobs-scheduled-dips](https://cloud.githubusercontent.com/assets/20774/10646804/40e3e354-7803-11e5-8da8-ca83d43281d4.png)

spin up dev stack, run env-load -> creates 400 endpoints with 3 monitors each at 10 s
check out alerting dashboard.
 -> should be constant stream of jobs at 120 per second, or if there's a dip, it should be followed by an increase.

system is not overloaded. no process is max

[2015-10-21 18:55] Dieterbe commented on #502
note, the graph of incoming jobs in the executors is much closer to 120, so might be a largely a graphing thing.

[2015-10-22 14:05] woodsaj commented on #496
looks like the problem could be due to https://github.com/raintank/grafana/blob/master/pkg/services/rabbitmq/consumer.go#L146

Msgs are being processes sequentially.  We probably need to refactor the code so that each message is processed in its own goroutine.

[2015-10-22 14:07] woodsaj commented on #501
The only thing that i can think to resolve this is to prompt the user to select the datasource to use when importing.  But that is complicated as a single dashboard (and even a single panel) can use multiple datasources.

[2015-10-22 14:40] mattttt opened #505 "CTA Panel: Safari Bug"
Looks like this in Safari:
![screenshot 2015-10-20 16 29 34](https://cloud.githubusercontent.com/assets/2886187/10668164/f9de51f0-78a8-11e5-80d3-85aa44dedf38.png)

Should look like this:
![screenshot 2015-10-22 10 39 53](https://cloud.githubusercontent.com/assets/2886187/10668220/3fc72ae8-78a9-11e5-8c06-6da962ce9609.png)

[2015-10-22 15:37] Dieterbe commented on #501
maybe we should introduce some sort of convention for naming that maps to the names that we use in hosted litmus?
like tell people to configure raintank datasource with the name "raintank" (and if we will also expose ES, tell them to use the same name like raintank-es), that way if the datasources have the same name on the user side as in hosted litmus, wouldn't that solve it?

[2015-10-22 15:45] Dieterbe opened #507 "alert icons don't load + js error"
saw this today on dev:
note the icons for the 3rd endpoint.
![bug](https://cloud.githubusercontent.com/assets/20774/10670172/56b6c250-78b2-11e5-89db-a6940b32bdf4.png)

[2015-10-22 15:51] Dieterbe commented on #507
when i refresh it now, it works fine. the icons show up, no more error.

[2015-10-22 16:01] woodsaj commented on #507
this is due to a race condition in the code.

https://github.com/raintank/grafana/blob/master/public/plugins/raintank/features/endpointSummaryCtrl.js#L19-L23

We asynchronously fetch the monitor_types and the endpoints.  Once the endpoints have been fetched we process them assuming that monitor_types have also completed, but there are no guarantees that this is true.

[2015-10-22 16:10] #99 closed

[2015-10-22 16:37] woodsaj commented on #501
I think this will work.  We already name the datasource "raintank", so using that in each panel instead of the current "null" (which causes the default datasource to be used) would work for both the SaaS platform and anyone using an onprem deployment of grafana.

[2015-10-22 19:42] mattttt opened #510 "Auto Discover converting all URLs to lowercase"
Reported by a very cool early access user:

`Noting one defect/possible enhancement I spotted – I added an HTTPS endpoint that had a case-sensitive URL, but it was failing error checks with a 401 error. It looked like somewhere between auto-discovery and the endpoint being created, the path was converted to lowercase and thus was failing. Fixing the case here allowed the checks to pass.
`

[2015-10-26 09:16] woodsaj commented on #510
This issue is due to https://github.com/raintank/grafana/blob/master/pkg/services/endpointdiscovery/endpointdiscovery.go#L26

[2015-10-26 10:36] #510 closed

[2015-10-26 19:01] mattttt opened #512 "Discrepancy in historical data"
We took a snapshot a couple months ago and it included a very distinct pattern from Singapore:
https://app.raintank.io/dashboard/snapshot/AEiNkio7vPufq0W3eUbxOdnxOBIe8z1p

But when I took a snapshot today, Singapore does not appear in any of the graphs:
https://snapshot.raintank.io/dashboard/snapshot/HM4QPak2elOnx1lMIVqYSa9Pb4ZNVyEm

As such, the uptime stats mildly differ as well, At the time of

[2015-10-27 02:48] woodsaj commented on #512
This is expected.  The metricDefinition index (which stores the full set of metrics that exist) has had significant changes over the last few months.

When making the changes we did not perform any migration and instead just cleared the index and let it get rebuilt as new metrics were received.
As the singapore collector has never been enabled since the schema was changed, there are no entries in

[2015-10-27 02:48] #512 closed

[2015-10-27 13:19] mattttt commented on #512
Thanks for clarification.

[2015-10-28 02:39] woodsaj opened #513 "collector session needs to be updated when collectors change between private and public"
see: https://github.com/raintank/raintank-metric/issues/37

[2015-10-28 12:20] #513 closed

[2015-10-28 20:36] mattttt opened #515 "Helper text for New/Config Endpoint Checks"
In a very helpful user interview this afternoon, they accurately pointed out that the Content Match field doesnt tell you the things it supports. With that, I'd like to include some small helper text.

I now know that it'll support regexes. What else am I missing?

[2015-10-30 08:18] woodsaj commented on #515
only regexp is supported.

eg.

"word"  - will match if "word" exists anywhere in the document
"word.*word" - will match if any line contains "word" twice.

[2015-10-30 08:43] woodsaj commented on #515
For full details of capabilities refer to: https://golang.org/pkg/regexp/syntax/

[2015-11-02 22:01] mattttt opened #516 "Add Outlier to Collector Dashboard"
We added outliers to endpoint dashboards, but neglected to add it to Collector Summary.

Please to add.

[2015-11-02 22:54] mattttt opened #517 "Litmus Dashboards: Row Handles Default to Off"
Unsure when this was introduced, but it seems that all raintank dashboards now have row handles defaulted to `On`.

Need to update JSON to `Off`, so users dont think they can interact & save the dashboards.

[2015-11-02 22:56] mattttt commented on #517
This is a tweak in the JSON:
`"hideControls": true,`

[2015-11-03 14:46] mattttt commented on #515
Added helper text, would like to look into some more intelligent form feedback like http://www.regexr.com/ or http://regexpal.com/

Im sure there's a library we can leverage to validate the regular expression is valid - and then perhaps down the road, extend it to test the regexp against the path specified on demand.

<img width="465" alt="screenshot 2015-11-03 09 45 48" src="https://cloud.githubu

[2015-11-03 14:46] mattttt commented on #515
In branch matt-UI-improvements

[2015-11-03 14:48] mattttt commented on #517
Fixed in branch `matt-UI-improvements`

[2015-11-03 14:59] mattttt commented on #501
Testing this now.

[2015-11-03 15:10] mattttt commented on #442
This has been temporarily addressed by creating the endpoint list panel and adding to the home Litmus dashboard.

[2015-11-03 15:47] mattttt commented on #225
Working on this now.

[2015-11-03 16:21] mattttt commented on #225
Working on a couple different options (both done in code). Almost there.

<img width="1183" alt="screenshot 2015-11-03 11 19 59" src="https://cloud.githubusercontent.com/assets/2886187/10913656/ded52ea6-821c-11e5-8fcc-75f5bd14d1ec.png">

<img width="1212" alt="screenshot 2015-11-03 11 04 20" src="https://cloud.githubusercontent.com/assets/2886187/10913626/bc541162-821c-11e5-90d5-4e4cd68b6a61.png">

[2015-11-03 16:29] mattttt commented on #225
getting a js error on delete, also. Need to troubleshoot (probably with @woodsaj)

<img width="893" alt="screenshot 2015-11-03 11 29 42" src="https://cloud.githubusercontent.com/assets/2886187/10913955/3158504e-821e-11e5-94f1-bc2d1d8164ff.png">

Also, currently the Destroy box is loading first and then the check boxes load into place. I'd like to have the destroy box load last, after the check box

[2015-11-03 16:57] Dieterbe commented on #225
@mattttt i like the design of the 2nd one, the all-red one. though perhaps it's maybe a bit too strong of a red.
the difference in style with the other button, the blue one, on that screenshot does hurt my eyes a bit though. but i notice we have 2 styles of blue buttons too, the "framed" variety as on that screenie, as well as a "full" variety (see "New endpoint" button).
maybe we should uniformiz

[2015-11-03 17:06] bulletfactory commented on #225
I feel strongly that have 2-3 button styles is necessary to properly convey
hierarchy of importance. PrimaryCTA, SecondaryCTA, TertiaryCTA. This is
even more important when we're using a small, reserved palette of color for
buttons and UI elements. While I'm all for tweaking specific colors (ie: if
the red is blinding you), I think the 2 different main button styles are
effective.

On Tue, Nov 3,

[2015-11-03 17:10] mattttt commented on #225
Thanks for the feedback, actively working on this.  Let's not appropriate this ticket to start redoing button styles system-wide.

Im adding a new smaller filled in-style (red outlined button readability is too low). I'm using our rt-red variable, which is effective on the hearts, but maybe we need a variant for buttons. Will get this looking good and then we can introduce a new red variable if we

[2015-11-03 19:19] mattttt commented on #225
This is looking close to done on `https://github.com/raintank/grafana/tree/delete-endpoint`, but needs to get the deleting functionality working. Can you help with this, @woodsaj ?

[2015-11-04 00:53] woodsaj commented on #225
@matt deletes work fine for me in this branch.  I did just push a commit to redirect to the endpoint_list page after deleting.

If you still have errors can you also include the grafana logs when the delete fails.

[2015-11-04 10:15] woodsaj commented on #380
This was actually fixed with:  https://github.com/raintank/graphite-kairosdb/commit/9abaacbad2ed311fbb34e18368fe7756eb83b18a

[2015-11-04 10:15] #380 closed

[2015-11-04 10:18] woodsaj commented on #319
This was implemented and is already live in production.

[2015-11-04 10:18] #319 closed

[2015-11-04 10:25] woodsaj commented on #397
Throughput has been fixed, but now content size is wrong. It is being displayed as bytes/sec, but needs to be "bytes"

[2015-11-04 10:44] woodsaj commented on #476
this is a duplicate of:
https://github.com/raintank/grafana/issues/278  which has more information, and i have continued the discussion there.

[2015-11-04 10:46] woodsaj commented on #278
So i now remember why i preferred collector:

As the raintank platform is built out new capabilities will be added to the "collector" code base.  Some things i see it doing:
- perform synthetic browser tests (sitespeed.io)
- graphite/carbon proxy that can run on hosts to accept any metrics, ie from collectd or statsd
- collecting metrics from cloudwatch
- handle custom data collection added by use

[2015-11-05 21:37] mattttt opened #520 "Color Override on Admin Account"
There have been a few times where I've caught myself almost making changes on a client's organization as I bounce between open tabs. With that, do you suppose we can put some kind of check in there that says:

If logged in UserID = 1 AND OrgID != 1, then:

![screenshot 2015-11-05 16 34 40](https://cloud.githubusercontent.com/assets/2886187/10982466/5788df54-83db-11e5-9a26-0f35e37add6e.png)

This i

[2015-11-06 23:16] mattttt commented on #225
Styles are all functional and ready to go, but cant get the endpoint to delete properly. Will include Grafana log when I get home.

<img width="512" alt="screenshot_2015-11-06_09 11 39_1024" src="https://cloud.githubusercontent.com/assets/2886187/11011052/71a613de-84b2-11e5-902d-27bf01ab3de5.png">

[2015-11-06 23:19] mattttt commented on #306
This will be addressed differently, now with time and experience under our belt.

[2015-11-06 23:19] #306 closed

[2015-11-06 23:19] mattttt commented on #198
Tested the PR but behavior isnt exactly what I'd like it to be. Lower priority than other issues atm.

[2015-11-06 23:23] #159 closed

[2015-11-06 23:23] #33 closed

[2015-11-06 23:23] mattttt commented on #33
Closing this to address in Grafana

[2015-11-06 23:25] mattttt commented on #57
This is still an issue, and will hit a head by moving all Litmus functionality to panels. Closing this ticket to be addressed in future designs.

[2015-11-06 23:26] mattttt commented on #253
This was implemented and can be closed.

[2015-11-06 23:26] #253 closed

[2015-11-06 23:28] mattttt commented on #252
This was fixed with our email template changes, but the raintank should be centered or properly left justified:

![screenshot 2015-11-06 18 27 32](https://cloud.githubusercontent.com/assets/2886187/11011252/23cfe390-84b4-11e5-8840-ddeed207b8a4.png)

[2015-11-06 23:30] mattttt commented on #283
Implemented in PR https://github.com/raintank/grafana/pull/521

[2015-11-06 23:30] #283 closed

[2015-11-06 23:31] #442 closed

[2015-11-06 23:32] mattttt commented on #278
Spoke with @nopzor1200 yesterday IRL, decision is to change Collector to Probe everywhere in the front-end, but keep the raintank collector software named that.

Will make the changes within the interface and highlight any inconsistencies/confusion on this issue.

[2015-11-06 23:33] #376 closed

[2015-11-06 23:34] mattttt commented on #423
This has been completed until the scripts are written, in which case we can switch to the more dynamic page we built. cc @woodsaj

[2015-11-06 23:34] #423 closed

[2015-11-06 23:39] mattttt commented on #430
Cannot reproduce across multiple browsers and havent gotten any other reports. Closing.

[2015-11-06 23:39] #430 closed

[2015-11-06 23:40] mattttt commented on #413
Will do tonight.

[2015-11-06 23:41] mattttt commented on #422
The Litmus home page has been adjusted, so this is no longer valid. Some of the points are however, and will be included in redesign.

[2015-11-06 23:41] #422 closed

[2015-11-06 23:42] mattttt commented on #477
This is complete and in production. Next is to add the filters.

[2015-11-06 23:42] mattttt commented on #475
Completed by Nick and in production. Closing.

[2015-11-06 23:42] #475 closed

[2015-11-06 23:43] mattttt commented on #463
This has been taken away temporarily, partially because it's a bit complicated (with clicking the whole row to get into detail) and partially because users found it confusing. Has been replaced on some screens with a gear, and on the main endpoint list, removed entirely.

Assigning this to me to remove from collector list and then will close.

[2015-11-06 23:45] mattttt commented on #505
Nick, do you have some time this weekend to address?

[2015-11-06 23:45] mattttt commented on #501
This is working great, but found on a user interview today that the 4 singlestat panels didnt work on teh Summary dashboard. Will investigate.

[2015-11-06 23:45] mattttt commented on #516
This has been added to production and pushed.

[2015-11-06 23:45] #516 closed

[2015-11-06 23:46] mattttt commented on #517
Fixed and pushed to production.

[2015-11-06 23:46] #517 closed

[2015-11-09 03:15] nchristus commented on #505
@mattttt it was indeed a pesky flexbox issue.

Commit: https://github.com/raintank/grafana/commit/42cdb2fbc269d8aabd8e683212e10efb485c2c26#diff-9ab15f0deaedcc6a28d15afb931bf310L1714

![screen shot 2015-11-08 at 9 09 34 pm](https://cloud.githubusercontent.com/assets/136611/11025160/72677cc0-865d-11e5-9aff-316f9e79c6cb.png)

[2015-11-09 06:03] woodsaj commented on #471
This really cant be fixed.

I think the only option is to disallow endpoints from being renamed.  But i will look into it further.

[2015-11-09 14:14] mattttt commented on #505
Excellent, looking good! Testing now.

[2015-11-09 19:46] mattttt commented on #505
Pushed to master. Closing.

[2015-11-09 19:46] #505 closed

[2015-11-09 19:53] mattttt opened #524 "New styles for Litmus screens in panels"
Currently it looks like this:

![screenshot 2015-11-09 14 52 40](https://cloud.githubusercontent.com/assets/2886187/11044719/8a8568c8-86f1-11e5-9f74-c601210dc616.png)

We need to make the rows and the select boxes stand out a bit more.

Playing with it w/ Trent quickly, perhaps something like this rgb(39,39,39):
![screenshot 2015-11-09 14 50 40](https://cloud.githubusercontent.com/assets/2886187/1

[2015-11-09 22:43] mattttt commented on #476
closing, in favor of other ticket.

[2015-11-09 22:43] #476 closed

[2015-11-09 22:44] mattttt commented on #278
From this point forward, Collectors are now to be referred to as Probes. This is a pretty substantial task in the backend, but not so much in the frontend.

Starting a ticket to change this in order of priority:

- [ ] Change language in the HTML (everywhere)
- [ ] Change Less files and CSS class names
- [ ] Change backend

branch: `goodbye-collector`

Instances of the word collector in the entire

[2015-11-10 20:50] mattttt commented on #501
Summary panels were missing the explicit datasource for singlestats. Added, tested on dev-portal, seem to be functioning well.

[2015-11-10 20:58] mattttt commented on #501
Keeping this open until pushed to production.

[2015-11-10 21:55] mattttt commented on #471
@nopzor1200 Have any thoughts here?

[2015-11-11 15:48] #524 closed

[2015-11-12 20:02] beenanner commented on #471
I also noticed if I rename a endpoint then go in and create another endpoint with the old name it breaks the dashboards for the old name. @woodsaj may be right and disabling it may be the best course of action currently. The other option or could be added to the roadmap is a meta data system. The renaming of endpoints would allow for changes, but never affect the underlying data or even the actual

[2015-11-14 23:58] Dieterbe commented on #57
@mattttt i don't understand why to close the ticket if we agree there's an issue and it should and will be fixed. the benefit of keeping it open until it's fixed is so we can guarantee it's addressed at some point, by closing it early we may forget about it and also give the impression it's no longer an issue.
if your intent is to consolidate various design issues into one and that's why you rathe

[2015-11-14 23:58] Dieterbe commented on #57
if there's a larger workflow issue that i'm not seeing, let's talk!

[2015-11-17 14:58] woodsaj commented on #275
This has been fixed in https://github.com/raintank/graphite-raintank/pull/4

This is the new graphite plugin which uses the new metric-tank TSDB.  This should be rolled out to prod in 2-3weeks.

[2015-11-19 04:55] Dieterbe opened #534 "separate out raintank's metric package out of grafana into standalone"
pkg/metric

so that it's reusable to other apps and we don't need a fork of grafana.

[2015-11-20 20:51] nopzor1200 commented on #520
Maybe a settable badge or background color per Org would be the best way to accomplish this across Grafana and raintank.

 It solves this problem and allows for some visual customization/distinction on a per-Org basis that would be useful to people for all sorts of reasons (branding, distinguishing, etc)

Otherwise might have to introduce raintank-specific functionality since a lot of small Grafan

[2015-11-20 20:54] nopzor1200 commented on #515
Looks good. I Suggest minor improvement:

"Content Match checks to see if your string occurs in the first 100KB of the page download. You can also use a regex"

[Keeps "Content Match" capitalized similar to the UI element, rewords "match looks to match", and adds specificity around why it might not be working]

[2015-11-20 21:09] bulletfactory commented on #520
Do we think leveraging/using the avatar for users and orgs which already exist in the sidebar would be too subtle to notice?

[2015-11-20 21:27] mattttt commented on #501
This has been pushed into production and tested. Looks good. Closing.

[2015-11-20 21:27] #501 closed

[2015-11-21 01:14] nopzor1200 commented on #495
I think for 0 latency that represents a failed check we need to be using NULLs, not setting 0.

Under no valid circumstances should a network litmus probe check be reporting 0.00ms latency. I suspect its just happening because the check is failing and setting 0.00.

(alerting for things like average global or regional latency will get fucked up by zeros)

[2015-11-21 01:17] nopzor1200 commented on #480
It looks like your fix "corrects" the issue on the backend regardless of what the frontend sets, which is great. Is that right @Dieterbe ?

Would be nice to fix on the front end too. Not super high priority on the front-end since we're not currently really promoting the use case of <=3 probes on and endpoint.

[2015-11-21 01:19] nopzor1200 commented on #477
Nice job on getting this refactored as a panel btw. I think the biggest use case is in the "Home dashboard" for the Litmus plugin. I think its important to remember that doing this opens up showing "time related" stuff on the panel!

[2015-11-21 01:20] nopzor1200 commented on #477
And should look at whether the panel should respect endpoint arguments, eg. all, or a specific one.

[2015-11-21 01:25] nopzor1200 commented on #399
A lot of these changes are in production.

I think the next actionable item around the error bar is showing annotations for critical/normal events (unlike the raw perfdata, these annotations would only show up if the user-specificed thresholds for "health" are met).

It would be awesome to show when an endpoint goes into critical or ok as an annotation. This is a level of abstraction that complime

[2015-11-21 01:28] nopzor1200 commented on #412
Yes. @mattttt and I have been talking about this.

The idea is to transition to not taking over the "Dashboards" top level left menu.

Instead, as Litmus is refactored as a plugin, it will occupy a Litmus-specific top level menu as defined within the plugin.

You will get the "Litmus home dashboard" when you click the Litmus top level menu item.

I think all three of us are on the same page.

[2015-11-21 01:29] nopzor1200 commented on #434
Yeah that's true.

I just ran into that trying to demo my account to Etsy, at a bar today.

I should be told that I'm out of quota when I try to add a new endpoint, not when I am finished configuring it.

[2015-11-21 01:30] nopzor1200 commented on #433
I'd really like to rekindle this ticket and move forward on this.

Big picture wise, I feel like we're flying blind (relatively speaking) with this kind of data.

[2015-11-21 01:32] nopzor1200 commented on #278
I'm fine keeping collector in the backend for now. Awoods brings up good points about how the software itself could evolve to be more collector-like instead of probe-like.

But, for Litmus, I think we're making the right decision, and good job on the change @mattttt and I really really like the probe icon that @bulletfactory whipped up. In Litmus parlance and context, it's easier to think of thing

[2015-11-21 01:33] nopzor1200 commented on #20
Just pinging on here because I want to talk about this and get a strategy together. I still feel this is something that's important to drive Litmus adoption.

I think that it gets more interesting with the Elasticsearch datasource, too.

[2015-11-21 04:01] woodsaj commented on #495
https://github.com/raintank/raintank-metric/issues/36

However, the latest raintank-collector deployment to Production includes a change to just not send null metrics.  So there should no longer be 0.0ms latency measurements (unless it actually took 0.0ms)

[2015-11-21 05:18] Dieterbe commented on #480
no @nopzor1200 the fix in the commit above is just for the alerting rules created by env-load (i.e. for the fake orgs/fake users for stress testing) to take into account how many collectors there actually are, and never set a number too high.

all the mentioned problems still exist. (agreed with prio btw, our dev/prod stacks have enough collectors, it's less urgent in devstack - typically 1 collec

[2015-11-21 05:24] Dieterbe commented on #515
btw there's several syntaxes for regex. we should link mention exactly which one we use, and link to docs (see AJ's link). in fact, why not mention a few simple examples to rule out some initial questions (i imagine people may want to know if things like `[:white:]` are supported, where backslashes are needed (in groups or not), etc) and perhaps also link to  https://regex-golang.appspot.com/asset

[2015-11-21 05:29] Dieterbe commented on #412
i get that, but don't see how it answers the concern in OP.
since anyone can run litmus internally, or offer it as a service (we do it, others should be able to do it too), messaging like "join <raintank> early access program" should be optional. will it be a setting of some sort so that we can show that in our deployment of litmus, and others wouldn't show anything , or others would be able to me

[2015-11-21 05:32] Dieterbe commented on #278
does anything else need to happen for this?
I think all remaining todo's in OP are addressed now. (except for backend). @mattttt ?

anything else need to happen in backend or shall we just close this? @woodsaj ?

[2015-11-21 05:37] Dieterbe commented on #495
could we perhaps just not hard-configure an explicit lower Y ? that way the lower Y should be reasonable for the data. but that would mean scales/axis are not consistent over time / across different panels which is annoying too :(

[2015-11-21 16:14] nopzor1200 commented on #495
@woodsaj thats good that we aren't setting 0.0ms (unless 0.0ms happens which I view as an extreme unlikelihood, especially with the public probes).

btw even If we aren't sending null then does graphite still return 'null' to grafana if there's no datapoint?

@Dieterbe thats a good point, def worth further discussion

[2015-11-21 16:22] nopzor1200 commented on #412
The scope of this is really about the use case of someone downloading the Litmus client-app, and running it inside their Grafana. They will still require an "early access @ raintank" login to actually use the app.

I don't think we should be optimizing for other use cases, can discuss in strategy

[2015-11-21 22:27] Dieterbe commented on #495
yes, that's a property of graphite that evolved out of whisper. whisper just has empty slots for those points and returns nulls (in fact, i don't think you can even explicitly send nulls over the graphite protocol). IIRC this property also leaked into the graphite-web/graphite-api code (pretty sure a bunch of the processing function assume evenly spaced points, all nulls explicitly mentioned inste

[2015-11-21 23:46] Dieterbe commented on #399
I think we're pretty much done for this set of changes, just one note:
can we make errors on summary dashboard per-probe level, just like on the detail dashboards and the response time graphs on summary dashboard? i don't see why not? it would be more useful and consistent
i do like how the probe-tables on the right are only in the detail dashboards.

[2015-11-21 23:50] Dieterbe commented on #399
also i still really like the mockup i did above for a better viz for probe errors. i feel like it gives a better overal picture. bummer that noone commented on that. i thought these kinds of widgets would be something we can address once Dan/Carl are onboard. they are closely related to heatmaps (and could potentially be the same panel/code) which would be very useful for displaying latencies as w

[2015-11-22 04:14] woodsaj commented on #495
@nopzor1200 yes, graphite always fills in gaps with Nulls.

[2015-11-23 06:53] woodsaj commented on #520
how is logging in as the Grafana Admin, with the "admin" role on may different Orgs different to logging in as any other user with the "admin" role on may different orgs?  Is the problem not the same for all users.

Sounds to me that the problem is simply that the "current Org" is not prominent enough in the UI.

[2015-11-23 07:10] woodsaj commented on #412
The home dashboard is just static JSON, anyone with an on-prem deployment can customize it however they want.  The RaintankCTA panel is a raintankSaaS specific panel.

[2015-11-23 07:10] #412 closed

[2015-11-25 21:40] mattttt opened #536 "Better wrappping in Endpoint List panel"
![screenshot_2015-11-25_16_23_16](https://cloud.githubusercontent.com/assets/2886187/11410128/fd64e974-9392-11e5-9c96-a40e92e9be45.png)

Tags are pushing down the health. Ideal behavior would be to drop the tags to a second line, along with the current health.

[2015-12-02 00:03] Dieterbe opened #537 "loading dashboard right after adding endpoint will never show the data"
1) create new endpoint
2) go to dashboard straight away
3) graphite data is not in our system yet so the endpoint/probe variables don't load
4) no matter how long you wait, and hitting refresh button, the endpoint/probe variables won't load, even after the data existsts (this is can be considered an upstream grafana issue I think?)
5) you have to reload the actual page for the dashboards to work.

[2015-12-02 00:35] nopzor1200 commented on #537
I think that's what the "reload variables on dashboard reload" option is
for, right? That's what I thought but I could be wrong. It needs to be
enabled on all litmus dashboards
-r

On Wednesday, December 2, 2015, Dieter Plaetinck <notifications@github.com>
wrote:

--
Raj Dutt

co-founder/ceo, raintank
+1-917-664-1310
dutt@raintank.io

[2015-12-02 02:17] mattttt commented on #537
This is also kinda related to Issue: https://github.com/raintank/customer-experience/issues/17

[2015-12-02 11:31] woodsaj commented on #537
I think that it is unrealistic to expect there to be data immediately after creating a new endpoint.  I would rather disable the dashboard links for "X" seconds (probably 2x check frequency) after initial creation of the endpoint.

[2015-12-29 19:07] mattttt opened #539 "Litmus Events: Template Variable values not being populated"
In the event dashboard (in production), the template variables are not being populated when `All` is selected:

![events-all-values](https://cloud.githubusercontent.com/assets/2886187/12040219/0fe2cdac-ae35-11e5-9e7c-2c0a97ef929a.gif)

[2015-12-31 10:19] woodsaj opened #540 "alerting does not work with latest graphite-raintank/metric-tank"
pretty much all requests fail due to badStart, badStep errors.

[2015-12-31 10:46] woodsaj commented on #540
I think there are 2 things needed to correct this,

1) this needs to be adjusted to be on the interval boundary and not the exact second. https://github.com/raintank/grafana/blob/master/pkg/alerting/scheduler.go#L74

2) The "start_time" reported in graphite also needs to be adjusted to be the first interval boundary after start. https://github.com/raintank/graphite-raintank/blob/master/graphite_ra

[2016-01-01 00:03] Dieterbe commented on #540
carbon/whisper quantizes the data (i.e. adjusts a ts of 57 to 60, etc) at storage time.  MT/graphite-raintank doesn't IIRC, and i wonder if we should (e.g. to combine data with small ts offsets through graphite's processing functinos), that would probably solve this as well? i'm not quite sure what the time_info and boundary stuff is about, let's do a hangout to discuss.

[2016-01-02 14:26] woodsaj commented on #540
by interval boundary i just mean the quantized value.  If the interval is 10seconds, then the interval boundary would be 0,10,20,30,40 or 50.

[2016-01-04 08:21] woodsaj commented on #540
item 2 has been fxed in https://github.com/raintank/graphite-raintank/issues/15

working on item 1 now.

[2016-01-04 08:27] Dieterbe commented on #540
Hold on re 1. See my question about quantizing in MT. Wouldn't that solve that better?

[2016-01-04 08:28] woodsaj commented on #540
it wont make a difference.  whether we quantize at ingestion or on read, the data being fed back to grafana Alartering is the same, and grafana currently doesnt like it.

[2016-01-04 08:37] Dieterbe commented on #540
Hmm if grafana alerting does like what graphite+kairos returned, why does it not like what graphite+mt returns? Shouldn't it be the exact same output, esp if we add quantization? (With on read do you mean reading mt into graphite api?)

[2016-01-04 08:51] woodsaj commented on #540
graphite-api uses a finder to get data. This finder just returns a datapoints array of values and a start_time, end_time and step, it does not return the TS for each value.  Graphite-api assigns the "start_time" to the first value in the datapoints array, then just adds "step" to get the TS for subsequent values.

when using the graphite-kairos finder, we set the start_time to be the exact TS of t

[2016-01-04 09:17] woodsaj commented on #540
Submitted PR #541
My testing shows that this resolves the issues with alerting.  @Dieterbe any reason you see not to merge?

[2016-01-04 10:13] woodsaj opened #542 "periodic high CPU usage due to refreshing collectors"
every 5minutes the collector-controllers refresh the set of monitors each collector should be running.

this is putting high load on both the collectors and also on mysql DB.

[2016-01-04 14:01] #542 closed

[2016-01-04 14:15] woodsaj commented on #275
FYI, the changes to fix this were deployed to production before christmas.

[2016-01-04 14:15] #275 closed

[2016-01-04 14:19] woodsaj commented on #539
The problem is that "multi format" setting of the "endpoint" template variable is set to "regex values" as this is what is needed by "raintank events panel".
So when "all" is selected the graphite query to get the list of probes uses "litmus.<regex values>.*" format, which is not a valid graphite query format and an empty set is returned.

This cant be resolved until https://github.com/grafana/gra

[2016-01-05 12:41] #540 closed

[2016-01-07 07:24] woodsaj opened #544 "litmus Events dashboard needs to specify datasource for template variable queries"
The litmus Events dashboard currently uses the default datasource for querying.  By default the "raintank" datasource is the default, but if the user changes it the events dashboard stops working.

[2016-01-07 07:39] #544 closed

[2016-01-12 19:40] woodsaj opened #546 "events stored in new per-day indexes not searchable"
The new indexes set all fields to not-analyzed.
Due to how the queries are parsed, our regex searches for `severity:/ERROR/` do not work as the querystring is converted to lowercase, but due to not being analyzed anymore the term in the document is still uppercase.

https://github.com/elastic/elasticsearch/issues/9973

Should be easily fixable by adding the `"lowercase_expanded_terms": false` prop

[2016-01-12 19:54] #546 closed

[2016-01-13 03:05] Dieterbe opened #547 "contextcache: assignment to nil map"
just saw this in docker stack:
[code]

[2016-01-13 07:24] woodsaj commented on #534
@Dieterbe  as you have been working on updating the metrics lib, can we address this too.

[2016-01-13 07:33] #547 closed

[2016-01-13 08:24] Dieterbe commented on #534
the reason of pkg/metric's existence is it can neatly switch over between regular statsd and dogstatsd tags.  but now that i've found a statsd client that looks like the highest performance - https://github.com/alexcesaro/statsd -  and it also offers optional datadog and influx tags. there's no real need for this package at all anymore, and we can use this statsd client directly.
( and anyway we d

[2016-01-13 08:35] Dieterbe commented on #534
actually, an abstraction still makes sense for these reasons:
* it's nice to have variables representing gauges, timers etc for robustness (esp when used in multiple places),  instead of relying on string arguments and having a central overview
* it'll be nice if we also decide to abstract another library such as go-metrics

+ it saves me a bunch of time if i can just relocate the lib :) so that's

[2016-01-14 07:44] #534 closed

[2016-01-21 13:57] gugansankar opened #551 "500 Internal Server Error !"
First of all, Thanks for this great project.

I tried to setup this on my local lab. After logged in, If I click add probe/other options, getting 500 Internal Server Error. I just followed the steps what mentioned on the README file.

Please help me to fix the below error,

2016/01/21 19:11:31 [I] Database: sqlite3
2016/01/21 19:11:31 [I] Migrator: Starting DB migration
2016/01/21 19:11:31 [I] Cre

[2016-01-22 11:55] gugansankar commented on #551
Please someone help me , what is an issue here ?.

[2016-01-22 21:02] Dieterbe commented on #551
not sure what's the cause, but once your docker stack works (per other ticket) this shoould resolve itself.

[2016-01-30 02:51] woodsaj opened #555 "log graphite queries"
Graphite queries are proxied through graphite.   We should log the user,org, time range and targets() and  time spent processing the request.